// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
     "pathI18n": ["custom_styles.main_styles"],
     "titleI18n": "custom_styles.font_primary",
     "editor": "listPicker",
     "list": {{ base_font_set }},
     "featured": true,
     "scope": "global"
  */
  --font-primary: $font-primary;

  /* VoogStyle
     "pathI18n": ["custom_styles.main_styles"],
     "titleI18n": "custom_styles.font_secondary",
     "editor": "listPicker",
     "list": {{ base_font_set }},
     "featured": true,
     "scope": "global",
     "boundVariables": [
      "--header-site-title-font-family",
      "--header-mainmenu-font-family",
      "--blog-list-headings-font-family",
      "--h1-font-family",
      "--h2-font-family",
      "--h3-font-family",
      "--content-font-family",
      "--footer-font-family",
      "--form-field-text-font-family"
     ]
  */
  --font-secondary: $font-secondary;

  /* VoogStyle
     "pathI18n": ["custom_styles.main_styles", "custom_styles.colors"],
     "titleI18n": "custom_styles.primary_color",
     "editor": "colorPicker",
     "scope": "global",
     "featured": true
  */
  --color-dark: rgba($color-black, .87);

  /* VoogStyle
     "pathI18n": ["custom_styles.main_styles", "custom_styles.colors"],
     "titleI18n": "custom_styles.secondary_color",
     "editor": "colorPicker",
     "scope": "global",
     "featured": true
  */
  --color-light: $color-white;

  /* VoogStyle
     "pathI18n": ["custom_styles.main_styles", "custom_styles.colors"],
     "titleI18n": "custom_styles.third_color",
     "editor": "colorPicker",
     "scope": "global",
     "featured": true
  */
  --link-color: $link-color;

}
