// =============================================================================
// TEMPLATE CUSTOM STYLES.
// This file sets the configuration for design editor tool.
//
// This file will be converted to CSS, copied under "/components" and renamed to
// "*.tpl".
//
// The output component can be included in any "layout" or "component".
// =============================================================================

// =============================================================================
// Modules
// =============================================================================
@import '../../stylesheets/modules/variables';

// =============================================================================
// Design editor configuration.
// =============================================================================
:root {
  // scss-lint:disable Comment, Indentation

  /* VoogStyle
     "pathI18n": ["sidebar"],
     "titleI18n": "background_color",
     "editor": "colorPicker",
     "scope": "global",
     "featured": true
  */
  #{--sidebar-background-color}: $color-white;

  /* VoogStyle
    "pathI18n": ["sidebar", "title"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  #{--sidebar-site-title-font-size}: $h2-size;

  /* VoogStyle
     "pathI18n": ["sidebar", "title"],
     "titleI18n": "line_height",
     "editor": "rangePicker",
     "min": 0.8,
     "max": 3,
     "step": 0.1,
     "unit": "em",
     "scope": "global"
  */
  #{--sidebar-site-title-line-height}: 1.3;

  /* VoogStyle
    "pathI18n": ["sidebar", "title"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  #{--sidebar-site-title-font-weight}: 400;

  /* VoogStyle
    "pathI18n": ["sidebar", "title"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  #{--sidebar-site-title-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["sidebar", "title"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  #{--sidebar-site-title-text-decoration}: none;

  /* VoogStyle
    "pathI18n": ["sidebar", "title"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  #{--sidebar-site-title-text-transform}: uppercase;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "normal"],
    "titleI18n": "size",
    "editor": "rangePicker",
    "min": 8,
    "max": 100,
    "unit": "px",
    "scope": "global",
    "featured": true
  */
  #{--sidebar-mainmenu-font-size}: $font-size-small;

  /* VoogStyle
     "pathI18n": ["sidebar", "main_menu", "normal"],
     "titleI18n": "line_height",
     "editor": "rangePicker",
     "min": 0.8,
     "max": 3,
     "step": 0.1,
     "unit": "em",
     "scope": "global"
  */
  #{--sidebar-mainmenu-line-height}: 1.3;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "normal"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global",
    "boundVariables": [
      "--sidebar-mainmenu-hover-font-weight",
      "--sidebar-mainmenu-active-font-weight"
    ]
  */
  #{--sidebar-mainmenu-font-weight}: 400;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "hover"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  #{--sidebar-mainmenu-hover-font-weight}: 400;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "active"],
    "titleI18n": "font_weight",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "600",
      "off": "400"
    },
    "icon": "bold",
    "scope": "global"
  */
  #{--sidebar-mainmenu-active-font-weight}: 400;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "normal"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global",
    "boundVariables": [
      "--sidebar-mainmenu-hover-font-style",
      "--sidebar-mainmenu-active-font-style"
    ]
  */
  #{--sidebar-mainmenu-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "hover"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  #{--sidebar-mainmenu-hover-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "active"],
    "titleI18n": "font_style",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "italic",
      "off": "normal"
    },
    "icon": "italic",
    "scope": "global"
  */
  #{--sidebar-mainmenu-active-font-style}: normal;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "normal"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global",
    "boundVariables": [
      "--sidebar-mainmenu-hover-text-decoration",
      "--sidebar-mainmenu-active-text-decoration"
    ]
  */
  #{--sidebar-mainmenu-text-decoration}: none;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "hover"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  #{--sidebar-mainmenu-hover-text-decoration}: none;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "active"],
    "titleI18n": "text_decoration",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "underline",
      "off": "none"
    },
    "icon": "underline",
    "scope": "global"
  */
  #{--sidebar-mainmenu-active-text-decoration}: none;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "normal"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global",
    "boundVariables": [
      "--sidebar-mainmenu-hover-text-transform",
      "--sidebar-mainmenu-active-text-transform"
    ]
  */
  #{--sidebar-mainmenu-text-transform}: uppercase;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "hover"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  #{--sidebar-mainmenu-hover-text-transform}: uppercase;

  /* VoogStyle
    "pathI18n": ["sidebar", "main_menu", "active"],
    "titleI18n": "text_transform",
    "type": "button",
    "editor": "toggleIcon",
    "states": {
      "on": "uppercase",
      "off": "none"
    },
    "icon": "uppercase",
    "scope": "global"
  */
  #{--sidebar-mainmenu-active-text-transform}: uppercase;

  // scss-lint:enable Comment, Indentation
}
