
// Product list menu
.menu-horizontal {
  padding-left: 0 !important;

  .menu-item {
    display: inline-block;
    font-size: 12px;

    a {
      color: rgba($color-black, .35) !important;

      &:hover {
        color: rgba($color-black, 1) !important;
      }
    }
  }

  .current.menu-item {
    a {
    color: rgba($color-black, 1) !important;
    }
  }
}

.menu-item-cms {
  margin-left: 10px;

  &.float-right {
    float: right;
  }
}

.menu-separator {
  opacity: .36;
}

.menu-separator {
  &:first-child {
    display: none;
  }
}
