// =============================================================================
// Content area buy button
// =============================================================================
.formatted {
  .edy-buy-button-container {
    // sass-lint:disable class-name-format
    .form_field {
      label {
        padding-bottom: 0;
      }
    }
    // sass-lint:enable class-name-format
  }

  .edy-buy-button-variants {
    // sass-lint:disable class-name-format
    .form_field {
      padding-top: 0;
      padding-bottom: 0;
    }

    .form_field_select {
      width: initial;
    }
    // sass-lint:enable class-name-format
  }
}
