// =============================================================================
// Content area buy button
// =============================================================================
.formatted {
  .edy-buy-button-container {
    // sass-lint:disable class-name-format
    .form_field {
      label {
        font-size: 16px;
        padding-bottom: 0;
      }
    }
    // sass-lint:enable class-name-format
  }

  .edy-buy-button-variants {
    // sass-lint:disable class-name-format
    .form_field {
      padding-top: 0;
      padding-bottom: 0;
    }

    .form_field_select {
      width: initial !important;
      outline: 0;
    }
    // sass-lint:enable class-name-format
  }

  .edy-buy-button-variants {
    .form_field_label {
      .dark-background & {
      color: #fff;
      }

      .light-background & {
        color: #000;
      }
    }

    .form_field_select {
      .light-background & {
        border-color: #000;
      }
    }
  }
}

.edy-buy-button-variants {
  .form_field_select {
    border-color: #fff;
    position: relative;
    padding: 6px 25px 6px 7px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    vertical-align: bottom;
    background-image: url(../assets/ico-arrow-white.svg);
    background-position: right 10px center;
    background-repeat: no-repeat;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.light-background {
  .custom-btn-disabled {
    .public & {
      cursor: default;
      color: rgba(0,0,0,.35);
      border-color: rgba(0,0,0,.35);
    }
  }
}

.dark-background {
  .custom-btn-disabled {
    .public & {
      color: rgba(255,255,255,.35);
      border-color: rgba(255,255,255,.35);
    }
  }
}
