@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'mixins';
@import 'modules/variables';

/* FONTS */
@include font-face("Montserrat", "../assets/montserrat-regular", 400);
@include font-face("Montserrat", "../assets/montserrat-bold", 700);
@include font-face("Lato", "../assets/lato-regular", 400);
@include font-face("Lato", "../assets/lato-italic", 400, italic);
@include font-face("Lato", "../assets/lato-bold", 700);
@include font-face("Lato", "../assets/lato-bold-italic", 700, italic);

%nulling {
  margin: 0;
  padding: 0;
}

%button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }
}

html,
body {
  @extend %nulling;
  height: 100% !important;
  min-height: 100%;
  font: #{$font-size}/1.67 $font-secondary;

  @media screen and (min-width: $break-large) {
    font-size: $font-size-big;
  }
}

body {
  position: relative;
  min-width: $site-width;
  text-align: left;
  color: rgba($color-black, .87);
  background: $color-white;

  @include box-sizing(border-box);
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: $link-color;

  &:not(.post-nav-link):hover {
    @include color($link-color, .85);
  }
}

.cfx {
  zoom: 1;
  min-height: 1px;

  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: '.';
  }
}

img {
  border: none;
}

form {
  @extend %nulling;
}

h1,
h2,
h3 {
  @extend %nulling;
  color: $color-black;
  font: normal #{$h1-size} / 1.1 $font-primary;


  .dark-background & {
    // color: rgba($color-white, .87);
    color: $color-white;


    .placeholder {
      // color: rgba($color-white,.5);
      color: $color-white;
      opacity: .5;
    }
  }
}

h1 {
  margin-bottom: 20px / $h1-size * 1em;
}

h2 {
  font-size: $h2-size;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px / $h2-size * 1em;
  margin-top: 30px / $h2-size * 1em;
  // margin: 30px 0 20px;
}

h3 {
  // margin: 30px 0 20px;
  font-family: $font-secondary;
  font-size: $h3-size;
  font-weight: bold;
  margin-bottom: 20px / $h3-size * 1em;
  margin-top: 30px / $h3-size * 1em;
}

p {
  margin: 20px 0;
  padding: 0;
}

ul,
ol {
  @extend %nulling;
  list-style-type: none;

  li {
    @extend %nulling;
  }
}

input[type=submit],
input[type=text],
textarea {
  border-radius: 0;
  -webkit-appearance: none;
}

// Disables hyphenation for the elements that shouldn't hyphenate.
pre,
code,
iframe,
table,
form {
  .formatted & {
    @include hyphenate(false);
  }
}

pre {
  font-size: $font-size-small;
  @include bg($color-white, .3);

  .light-background & {
    @include bg($color-black, .2);
  }
}

pre {
  overflow: auto;
  padding: 10px;

  code {
    display: inline;
    padding: 0;
    line-height: inherit;
    white-space: pre;
    background-color: transparent;
    @include word-wrap(normal);
  }
}

code {
  display: inline-block;
  padding: 5px;

  @include word-wrap(break-word);
}

blockquote {
  margin: 20px 40px;

  .front-page & {
    text-align: left;
  }
}

.font-size-small {
  font: #{$font-size}/1.67 $font-secondary !important;

  @media screen and (min-width: $break-large) {
    font-size: $font-size-big !important;
  }
}

.voog-bg-picker-btn {
  @extend %button;
}

/* select */
.jq-select {
  position: relative;
  font: #{$font-size}/1.67 $font-secondary;
  cursor: pointer;
  color: rgba($color-black, .87);
  background: $color-white;

  select {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: #{$font-size}/1.67 $font-secondary;
    cursor: pointer;
    opacity: 0;
    color: rgba($color-black, .87);
    border: none;
    -webkit-appearance: none;
    filter: alpha(opacity=0);
    -moz-opacity: .0;
  }
}

.jq-select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  border-left: 3px solid $bg-color;
  background: $color-white;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -6px;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-width: 6px;
    border-top-color: rgba($color-black, .87);
  }
}

.jq-select-content {
  position: relative;
  z-index: 5;
  padding: 4px 38px 4px 5px;
  padding-right: 48px;
}

.jq-select-inner {
  overflow: hidden;
  white-space: nowrap;
}

/* form */
.edy-fe-field,
.form_field {
  margin-bottom: 20px;
}

.edy-fe-label,
.form_field_label {
  display: block;
  padding-bottom: 5px;
}

.form_field label {
  display: block;
}

.form_field_textfield,
.form_field_textarea {
  width: 30%;
  padding: 4px 5px;
  font: #{$font-size}/1.67 $font-secondary;
  color: rgba($color-black, .87);
  border: none;
  outline: none;
  background: $color-white;
  @include border-radius(0);
  @include box-sizing(border-box);

  .light-background & {
    background: #eee;
  }
}

.form_field_textfield,
.form_field_textarea,
.form_field_select,
.form_field .jq-select {
  width: 30%;
}

.form_field_size_large {
  width: 100% !important;
}

.form_field_size_medium {
  width: 60% !important;
}

.form_field_size_small {
  width: 30% !important;
}

.form_error,
.form_notice {
  padding: 0;
  padding: 0 0 20px;
  font-weight: bold;
}

.form_error {
  color: $error-color;
}

.form_notice {
  color: $success-color;
}

.form_field_error {
  display: none;
  color: $error-color;
}

.form_field_with_errors input,
.form_field_with_errors textarea {
  @include bg($error-color, .2);
}

.form_submit input,
.submit {
  @include border-radius(0);
  -webkit-appearance: none;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
  font-family: $font-secondary;
  font-size: $font-size;
  line-height: $line-height-xs;
  margin: 5px 0;
  max-width: 100%;
  min-width: 180px;
  outline: 0;
  padding: 0.61em 0.55em;
  text-align: center;
  text-transform: uppercase;

  .dark-background .formatted & {
    border: 2px solid $color-white;
    color: $color-white;

    &:hover {
      background: #2b2b2b;
      border: 2px solid $color-white;
      color: $color-white;
    }
  }

  .light-background .formatted & {
    border: 2px solid $color-black;
    color: $color-black;

    &:hover {
      background: #2b2b2b;
      border: 2px solid $color-white;
      color: $color-white;
    }
  }
}

.form_field_required {
  .form_field_label:after {
    content: '*';
  }
}

/* custom checkboxes and radio buttons */
label {
  cursor: pointer;

  &:before {
    display: none;
    content: url('../images/check.png?1');
  }

  .form_field_checkbox,
  .form_field_radio {
    display: none;
    display: inline-block\9;
  }

  .form_field_checkbox {
    + .form_control_indicator:before {
      background: $color-white;
    }

    &:checked {
      + .form_control_indicator:before {
        width: 100%;
        height: 100%;
        background: url('../images/check_small.png?1') no-repeat left bottom;
        .backgroundsize & {
          width: 100%;
          height: 100%;
          background: url('../images/check.png?1') no-repeat left bottom;
          background-size: 17px 18px;
        }
      }
    }
  }

  .form_field_radio {
    + .form_control_indicator:before {
      width: 9px;
      height: 9px;
      border: 3px solid $color-white;
    }

    &:checked {
      + .form_control_indicator:before {
        background-color: rgba($color-black, .87);
      }
    }
  }

  .form_control_indicator {
    position: relative;
    display: inline-block;
    display: none\9;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    vertical-align: 0;
  }

  .form_control_indicator:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    content: '';
  }
}

/* layout */
.wrap {
  height: 100%;
  min-height: 100%;
}

.topbar {
  display: none;
  width: 100%;
  background: $color-white;
  position: relative;
  z-index: 6;
}

.sidebar {
  @include box-shadow(5px, -50px, 50px, rgba($color-black, .05));
  float: left;
  min-height: 100%;
  position: relative;
  width: $side-width;
  z-index: 5;

  @media screen and (min-width: $break-large) {
    width: 20%;
  }

  .sidebar-inner {
    padding: 45px 30px 100px;
  }
}

.main {
  background: $bg-color;
  margin-left: $side-width;
  position: relative;

  .footer-left {
    padding-top: 20px;
  }

  .editmode & {
    @media screen and (min-width: $break-small) {
      padding-bottom: 40px;
    }
  }

  .edy-bar-open & {
    padding-bottom: 125px;

    @media screen and (min-width: $break-small + 41px) {
      padding-bottom: 150px;
    }
  }

  @media screen and (max-width: $break-small - 1px) {
    height: auto!important;
  }

  @media screen and (min-width: $break-large) {
    margin-left: 20%;
  }
}
.main-inner {
  position: relative;

  .front-page & {
    font-family: $font-primary;
    font-size: $font-size-xl;
    line-height: $line-height;
    text-align: center;

    h1 {
      font-size: $font-size-xl * 1.5;
    }

    h2 {
      font-size: $font-size-xl * 1.25;
    }

    h3 {
      font-size: $font-size-xl * 1.1;
    }
  }
}

.inner {
  &.main-inner {
    width: auto !important;
  }

  @media screen and (min-width: $break-large) {
    width: 75%;
  }
}

.container-wrap {
  position: relative;
  z-index: 4;
}

.container {
  float: left;
  width: 100%;
  position: relative;
}

.site-title {
  padding-top: 20px;
  font-family: $font-primary;
  font-size: $font-size-xl;
  line-height: $line-height;
  vertical-align: top;
  text-transform: uppercase;
  color: $color-black;

  @include hyphenate(true);

  @media screen and (min-width: $break-middle) {
    min-height: calc(31vh - 85px);
  }

  a {
    color: $color-black;

  }

  .topbar & {
    min-height: 40px;
    margin-right: 80px;
    padding: 27px 0 23px 30px;

    .edy-positionable-container-maxwidth {
      max-width: 200px !important;
      float: left;
    }
  }
}

/* mainmenu */
.main-menu {
  padding-top: 20px;
  font-family: $font-primary;
  @include hyphenate(true);

  li {
    padding: 6px 0;
    font-size: $font-size-small;
    line-height: $line-height-tiny;
    text-transform: uppercase;
  }

  a {
    color: $color-black;
    opacity: .36;

    &:hover,
    &.active {
      color: $color-black;
      opacity: 1;
    }
  }
}

/* submenu */
.sub-menu {
  min-height: 35px;
  padding: 30px 50px 15px 50px;
  font: 14px/1.1 $font-primary;
  text-align: right;
  word-wrap: break-word;

  li {
    display: inline-block;
    padding-left: 20px;
  }

  a {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 11px;
    white-space: nowrap;
    color: $color-black;
    opacity: .36;

    .dark-background & {
      color: $color-white;
      opacity: .42;

      &:hover {
        color: $color-white;
        opacity: 1;
      }
    }

    &:hover {
      color: $color-black;
    }

    &.active {
      margin-bottom: 4px;
      padding-bottom: 4px;
      color: $color-black;
      border-bottom: 3px solid rgba($color-black, .87);
    }

    &.edy-cbtn {
      padding: 0;
    }
  }
}

/* flags */
.lang-flag {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 21px;
    height: 15px;
    content: '';

    .flags-disabled & {
      display: none;
    }
  }

  &:after {
    background-position: -189px -60px;
  }
}

.lang-flag:before {
  @include bg($color-black);
}

.lang-flag:after {
  opacity: .95;
  background-repeat: no-repeat;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 9px;
  color: rgba(#1b2124, .7);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background-position: 0 -75px;
  content: attr(data-lang-code);
  box-sizing: border-box;

  .no-boxshadow & {
    border: 1px solid #eeeeee;
  }

  .backgroundsize.svg & {
    background-image: url('../assets/ico-flags.svg');
  }

  .no-svg {
    background-image: url('../images/ico-flags.png');
  }
}

// Language flag icons positioning in the spritemap.
$flags:
  (sq, 0 0), // Albanian (Albania)
  (hy, -21px 0), // Armenian (Armenia)
  (bn, -42px 0), // Bengali (Bangladesh)
  // (pt, -63px 0), // Brazilian Portuguese (Brazil)
  (bg, -84px 0), // Bulgarian (Bulgaria)
  (zh, -105px 0), // Chinese (China)
  (hr, -126px 0), // Croatian (Croatia)
  (da, -147px 0), // Danish (Denmark)
  (cs, -168px 0), // Czech (Czech Republic)
  (et, -189px 0), // Estonian (Estonia)

  (fi, 0 -15px), // Finnish (Finland)
  (fr, -21px -15px), // French (France)
  (ka, -42px -15px), // Georgian (Georgia)
  (de, -63px -15px), // German (Germany)
  (el, -84px -15px), // Greek (Greece)
  (hu, -105px -15px), // Hungarian (Hungary)
  (is, -126px -15px), // Icelandic (Iceland)
  (hi, -147px -15px), // Hindi (India)
  (id, -168px -15px), // Indonesian (Indonesia)
  (fa, -189px -15px), // Iranian (Iran)

  (he, 0 -30px), // Hebrew (Israel)
  (it, -21px -30px), // Italian (Italy)
  (ja, -42px -30px), // Japanese (Japan)
  (ko, -63px -30px), // Korean (Korea, South)
  (lv, -84px -30px), // Latvian (Latvia)
  (lt, -105px -30px), // Lithuanian (Lithuania)
  (ms, -126px -30px), // Malaysian (Malaysia)
  (nl, -147px -30px), // Dutch (Netherlands)
  (no, -168px -30px), // Norwegian (Norway)
  (ur, -189px -30px), // Urdu (Pakistan)

  (fil, 0 -45px), // Filipino (Philippines)
  (pl, -21px -45px), // Polish (Poland)
  (ro, -42px -45px), // Romanian (Romania)
  (ru, -63px -45px), // Russian (Russia)
  (ar, -84px -45px), // Arabic (Saudi Arabia)
  (sk, -105px -45px), // Slovakian (Slovakia)
  (sl, -126px -45px), // Slovenian (Slovenia)
  (es, -147px -45px), // Spanish (Spain)
  (sv, -168px -45px), // Swedish (Sweden)
  (tr, -189px -45px), // Turkish (Turkey)

  (uk, 0 -60px), // Ukrainian (Ukraine)
  (en, -21px -60px), // American English (United States of America)
  // (fr, -42px -60px), // French (Ivory Coast)
  // (en, -63px -60px), // British English (Great Britian)
  (pt, -84px -60px), // Portuguese (Portuguese Republic)
  // (en, -105px -60px), // Canadian English (Canada)
  (sr, -126px -60px), // Serbian (Republic of Serbia)
  (bn, -147px -60px), // Dutch, French, German (Kingdom of Belgium)
  // (en, -168px -60px), // Australian English (Commonwealth of Australia)
  (th, -189px -60px) // Thai (Thailand)
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after {
    background-position: $pos;
    content: '';
  }
}

.lang-options {
  @include bg($color-black, 0.09);

  .menu {
    .menu-item {
      padding: 7px 12px;
      font-size: 13px;

      @media screen and (max-width: $break-middle) {
        text-align: right;
      }
    }
  }

  @media screen and (max-width: $break-small) {
    background-color: transparent;

    .menu {
      #mobile-menu & {
        display: block;
        padding: 0;
      }

      .menu-item {
        @include color($color-white, .5);
      }
    }
  }
}

.option-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  @include color($link-color);

  &:hover {
    @include color($link-color, .8);
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:focus {
    outline: none;
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }

  .disable-text,
  .enable-text {
    &:first-letter {
      text-transform: capitalize;
    }
  }

  @media screen and (max-width: $break-small) {
    @include color($color-white);

    &:hover {
      @include color($color-white, .8);
    }
  }
}

/* langmenu */
.lang-menu {
  position: absolute;
  z-index: 200;
  top: 30px;
  left: 30px;
  height: 13px;

  .edy-checkout-button-visible & {
    top: 30px + 41px; // 41 is the height of the checkout button.
  }

  li {
    display: block;
    font-size: 12px;
    text-align: left;

    &.add-lang-btn {
      padding: 5px 0 4px 10px;

      @media screen and (max-width: $break-middle) {
        padding: 5px 10px 4px 0;
        text-align: right;
      }
    }
  }

  a {
    &.lang-flag {
      position: relative;
      display: block;
      padding: 6px 13px 5px 40px;
      @include color(#1b2124, .7);

      &:before,
      &:after {
        top: 4px;
        left: 12px;
      }

      &.active,
      &:hover {
        background-color: #cccccc;
      }

      &:hover {
        @include bg(#cccccc, .5);
      }

      @media screen and (max-width: $break-middle) {
        padding: 6px 40px 5px 13px;
        text-align: right;

        &:before,
        &:after {
          left: auto;
          right: 12px;
        }
      }
    }

    &.edy-menu-langadd {
      display: inline-block;
      padding: 5px;
    }
  }

  &.flags-disabled {
    a.lang-flag {
      padding: 6px 13px 5px;
    }
  }
}

.lang-menu-btn {
  @extend %nulling;
  @extend %button;
  position: relative;
  display: block;
  height: 15px;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background: none;

  .flags-enabled & {
    width: 21px;

    .lang-title {
      display: none;
    }
  }

  .lang-flag {
    &:before,
    &:after {
      top: 0;
      left: 0;
    }
  }

  .ico-popover-toggle {
    position: relative;
    top: -1px;
    display: inline-block;
    font-size: 7.2px;

    .flags-enabled & {
      display: none;
    }
  }
}

.lang-menu-popover {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -12px;
  display: none;
  min-width: 122px;
  padding: 5px 0;
  line-height: 1;
  text-align: left;
  background: $color-white;
  @include box-shadow(0,0,5px,rgba($color-black,.3));

  .no-boxshadow & {
    border: 1px solid #eeeeee;
  }

  .editmode & {
    padding-bottom: 0;
  }
}

/* content */
.content {
  position: relative;
  @include hyphenate(true);

  padding: 65px 20px;

  @media screen and (min-width: $break-small) {
    padding: 65px 50px;
  }
}

.content-inner {
  position: relative;
  font-family: $font-primary;
  @include hyphenate(true);

  @media screen and (max-width: $break-middle - 1px) {
    display: inline-block;
    width: 100%;
  }

  .header-row & {
    font-size: $font-size-xl;
    line-height: $line-height;
  }

  .footer-row & {
    font-size: $font-size-small;
    font-family: $font-primary;
    line-height: $line-height-xs;
    padding: 4px 0;
  }

  .header-row, .center-row & {
    min-height: 100px;
  }

  .inner-bottom {
    display: inline-block;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

}

.formatted {
  &:empty {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  table,
  pre,
  code,
  iframe,
  table,
  form,
  .table-container,
  .edy-positionable-container-left-block,
  .edy-positionable-container-center-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-right-block,
  .edy-positionable-container-maxwidth {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin: 15px 0;
    padding-left: 35px;
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    padding-left: 3px;
  }

  form {
    padding: 20px 0;
  }

  form,
  .form_fields {
    text-align: left;
  }

  // IMAGE CONTAINERS
  .edy-positionable-container-center,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-right-block {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .edy-positionable-container-left,
  .edy-positionable-container-right {
    width: 45%;
  }

  .edy-positionable-container-left,
  .edy-texteditor-container-wrapper-left {
    margin-right: 2em;
  }

  .edy-positionable-container-right,
  .edy-texteditor-container-wrapper-right {
    margin-left: 2em;
  }

  // Content area image title
  .edy-image-container-with-title {
    &:after {
      display: block;
      padding: 4px;
      font-size: 16px;
      line-height: 1.3em;
      content: attr(data-title);
    }
  }
}

/* articles */
.blog-content h1 {
  margin: 0;
  padding: 0;
}

.blog-list {
  .post-wrap {
    border-top: 2px solid $color-white;
  }

  .post {
    padding: 30px 30px;
  }

  .post-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.1;
    word-wrap: break-word;

    a {
      color: $color-black;
    }

    a:hover {
      color: $color-black;
      opacity: .75;
    }
  }
}

.post-header {
  padding: 0 30px 0;
}

.post-date {
  display: inline;
  color: $color-black;
  opacity: .36;
}

.post-content {
  padding: 0 30px 60px;
  word-wrap: break-word;
}

.post-body {
  padding: 20px 0 0;
}
.post-tags {
  padding: 20px 0 0;
}

.tbl {
  display: table;
  visibility: hidden;
  width: 100%;
  border-collapse: collapse;

  .tbl-row {
    display: table-row;
  }

  .tbl-cell {
    display: table-cell;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
}

// Post navigation menu
.post-nav {
  padding-bottom: 20px;

  @media screen and (max-width: $break-small) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media screen and (min-width: $break-small + 1) {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.post-nav-inner {
  @media screen and (min-width: $break-small + 1) {
    display: flex;
  }
}

.post-nav-link {
  position: relative;
  display: block;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: currentColor;

  &:hover {
    .post-nav-direction {
      opacity: 1;
    }

    .post-nav-title {
      opacity: 1;
    }
  }

  &:nth-child(2) {
    &::before {
      @media screen and (max-width: $break-small) {
        position: absolute;
        top: 0;
        right: -30px;
        left: -30px;
        display: block;
        height: 2px;
        background-color: $color-white;
        content: '';
      }
    }
  }
}

.post-nav-link-older {
  @media screen and (min-width: $break-small + 1) {
    padding-right: 20px;
  }
}

.post-nav-link-newer {
  @media screen and (min-width: $break-small + 1) {
    padding-left: 20px;
    text-align: right;
  }
}

.post-nav-direction {
  font-size: 13px;
  letter-spacing: .2em;
  text-transform: uppercase;
  opacity: .3;
}

.post-nav-title {
  margin-top: 6px;
  font-size: 18px;
  opacity: .7;
}


/* comments */
.comments {
  position: relative;
  padding: 0 30px 30px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 250px;
    height: 2px;
    content: '';
    background: $color-white;
  }

  h3 {
    margin: 0;
    padding: 45px 0 20px;
  }
}

.comment-form {
  position: relative;
  min-height: 30px;
  padding-bottom: 10px;

  form {
    padding-top: 0;
  }

  .comment-form-focus-input {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
  }

  .form_area {
    display: none;
  }

  .form_field {
    padding-bottom: 10px;
  }

  .comment-name-field,
  .comment-email-field {
    float: left;
    width: 250px;

    input {
      width: 100% !important;
      border-bottom: 1px solid #cecece;
      background: none;
    }
  }

  .comment-name-field {
    margin-right: 20px;
  }

  .submit-holder {
    padding-top: 20px;
  }

  .form_field_with_errors .form_field_textfield {
    border-bottom: 1px solid $error-color;
    border-bottom: 1px solid rgba($error-color, .3);
    @include color($error-color, .8);
  }

  &.form_with_errors {
    .comment-form-focus-input {
      display: none;
    }

    .form_area {
      display: block;
    }
  }
}

.comment {
  padding-top: 20px;
  word-wrap: break-word;

  .comment-info {
    color: $color-black;
    font-size: 14px;
    opacity: .36;

    .edy-site-btn-removecomment {
      vertical-align: -1px;
    }
  }
}

/* table */
.table-holder {
  overflow: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;

  td,
  th {
    padding: 10px;
    border: 1px solid rgba($color-black, .36);
    border-color: rgba($color-black, .32);
  }

  th {
    font-weight: bold;
  }
}

/* mobile-menu */
.mobile-menu-toggler,
#mobile-menu,
.mobile-menu-toggler,
#mobile-search {
  display: none;
}

/* footer */

.footer {
  position: absolute;
  z-index: 6;
  background: $color-white;
  right: 100%;
  bottom: 0;
  width: $side-width;
  font-size: 11px;
  line-height: 1.6;
  @include box-sizing(border-box);
  @include hyphenate(true);

  .footer-inner {
    padding: 20px 30px;
  }

  @media screen and (min-width: $break-large) {
    width: 25%;
  }

  .editmode & {
    padding-bottom: 40px;
  }

  .edy-bar-open & {
    @media screen and (min-width: $break-small) {
      padding-bottom: 150px;
    }
  }
}
.front-page footer {
  display: none;
}

@media screen and (min-width: $break-small + 1px) {
  .front-page footer {
    display: block;
  }
}

/* Voog reference */

.voog-reference {
  footer & {
    padding-top: 20px;
  }

  a {
    color: #acacac;
  }

  svg {
    height: 9px;
    width: 35px;

    path {
      .dark-background & {
        fill: $color-white;
      }
      .light-background & {
        fill: $color-black;
        opacity: .36;
      }
      footer & {
        fill: $color-black;
        opacity: .36;
      }
    }
  }
  .front-page & {
    display: block;
  }
  @media screen and (min-width: $break-small) {
    .footer-row & {
      display: none;
    }
  }
}

/* other */
.edy-gallery-area,
.edys-gallery-area {
  padding: 20px 0;
  clear: both;
}

.edys-gallery-area,
.edy-gallery-area {
  .front-page & {
    font-size: 0;
  }

  .edys-gallery-item {
    .front-page & {
      display: inline-block;
    }
  }
}

.edy-gallery-image,
.edys-gallery-item {
  @include border-radius(96px);
}

.js-bgpicker-cover-image {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.js-bgpicker-cover-color {
  position: relative;
  z-index: 1;
  color: $color-white;
  background: rgba($color-black,.2);

}

.front-page {
  .footer-row {
    .edy-empty-bordered {
      padding: 6px;
    }
  }
}

.rgba .js-bgpicker-cover-color {
  display: block;
}

.js-bgpicker-cover-settings {
  left: 0;
}

.untranslated {
  zoom: 1;
  opacity: .5;

  filter: alpha(Opacity=50);
}

/* search */
.search {
  position: relative;
  padding-bottom: 0;

  .search-box {
    position: relative;
    overflow: hidden;
    padding: 0 40px 0 10px;
    background: $bg-color;

    &.search-box-focus {
      background-color: #f9ec5a;
    }

    #mobile-search & {
      padding-right: 50px;
      padding-left: 20px;
    }
  }

  .search-input {
    width: 100%;
    margin: 0;
    padding: 4px 0;
    font: #{$font-size-small}/22px $font-primary;
    color: rgba($color-black, .87);
    border: none;
    outline: 0;
    background: none;

    &::-ms-clear {
      display: none;
    }
    &::-webkit-input-placeholder {
      opacity: 1;
      color: rgba($color-black,.2);
    }

    &:-moz-placeholder {
      opacity: 1;
      color: rgba($color-black,.2);
    }

    &::-moz-placeholder {
      opacity: 1;
      color: rgba($color-black,.2);
    }

    &:-ms-input-placeholder {
      opacity: 1;
      color: rgba($color-black,.2);
    }

    #mobile-search & {
      padding: 10px 0;
      font-size: 16px;
    }
  }
  .search-close {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background: url('../images/search-close.png') no-repeat center center;

    .voog-search-visible & {
      display: block;
    }
  }

  &:after {
    position: absolute;
    top: -2px;
    right: -30px;
    display: none;
    width: 0;
    height: 0;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-width: 18px;
    border-color: rgba(229, 229, 229, 0);
    border-right-color: $bg-color;

    @media screen and (min-width: $break-small + 1px) and (max-width: $break-middle - 1px) {
      right: -20px;
    }

    .voog-search-visible & {
      display: block;
    }

    #mobile-search & {
      display: none;
    }
  }

  .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: .5;
    border: none;
    outline: 0;
    background: url('../images/search.png') no-repeat center center;
    background-size: 16px 16px;

    .svg & {
      background-image: url('../assets/search.svg');
    }
  }
}

/* search-container */
.voog-search-container {
  position: fixed;
  z-index: -1;
  top: 0;
  display: block;
  overflow: hidden;
  width: 0;
  height: 100%;
  margin-left: $side-width;
  -webkit-transition: opacity .1s ease-in, width .3s ease-in;
  transition: opacity .1s ease-in, width .3s ease-in;
  opacity: 0;
  background: $bg-color;

  .edy-checkout-button-visible & {
    top: 41px; // 41 is the height of the checkout button.
  }

  @media screen and (min-width: $break-large) {
    margin-left: 20%;
  }

  @media screen and (min-width: $break-small + 1px) and (max-width: $break-middle - 1px) {
    top: 90px;
    margin-left: $side-width;
  }

  #mobile-search & {
    position: static;
    top: auto;
    width: 100%;
    margin-left: 0 !important;

    .voog-mobile-search-visible & {
      z-index: 1000;
      display: block;
      opacity: 1;
    }
  }

  .voog-search-visible & {
    z-index: 1000;
    display: block;
    width: $search-width;
    opacity: 1;
    @include box-shadow(10px, 0, 10px, rgba($color-black,.05));
  }
}

.voog-search-inner {
  overflow: auto;
  width: $search-width;
  height: 100%;

  #mobile-search & {
    width: auto;
  }
}

.voog-search-loader {
  display: block;
  height: 100%;

  .svg & {
    background: url('../assets/loader.svg') no-repeat center center;
  }
}

.voog-search-results {
  display: none;
  padding: 20px 0;

  #mobile-search & {
    padding: 10px 0;
  }
}

.voog-search-noresults {
  display: none;
  width: 100%;
  height: 100%;
  height: 100%;

  div {
    display: table-cell;
    padding: 40px;
    text-align: center;
    vertical-align: middle;
    color: rgba($color-black, .36);
  }

  &.voog-search-noresults-visible {
    display: table;
  }
}

.voog-search-result {
  padding: 12px 18px;
  font-size: 14px;
  line-height: 1.5;

  .voog-search-result-title {
    margin: 0;
    padding: 0 0 12px;
    font-size: 16px;
  }

  .voog-search-result-link {
    color: rgba($color-black, .87);

    &:hover {
      @include color($color-black, .8);
    }
  }

  .voog-search-result-content {
    margin: 0;
    padding: 0;
  }

  em {
    font-style: normal;
    background: #f9ec5a;
  }
}

@media screen and (max-width: $break-middle - 1px) {
  .site-title {
    br {
      display: none;
    }
  }
}

@media screen and (min-width: $break-small + 1px) and (max-width: $break-middle - 1px) {
  body {
    min-width: 0;
  }

  .topbar {
    display: block;

    .site-title {
      padding-left: 20px;
    }
  }

  .main {
    position: relative;
    margin-left: $side-width;
  }

  .sidebar {
    width: $side-width;

    .sidebar-inner {
      padding-top: 90px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .site-title {
      display: none;
    }
  }

  .sub-menu {
    a {
      white-space: normal;
    }
  }

  .main-menu {
    padding-top: 35px;
  }

  .inner {
    width: auto;
  }

  .lang-menu {
    right: 25px;
    left: auto;
  }

  .lang-menu-popover {
    right: -12px;
    left: auto;
  }

  .footer {
    width: $side-width;
    .footer-inner {
      padding: 20px;
    }
  }
}

@media screen and (max-width: $break-small) {
  body,
  html {
    font-size: 16px;
    line-height: 1.75;
  }

  .font-size-small {
    font-size: 16px !important;
    line-height: 1.75 !important;
  }

  body {
    min-width: 320px;
    background: $color-white;
  }

  .wrap,
  .wrap-inner,
  .main {
    display: block !important;
  }

  .front-page {
    &,
    .wrap,
    .main {
      height: 100%;
    }
  }

  .search-form,
  body > .voog-search-container {
    display: none !important;
  }

  .sidebar {
    display: block;
    float: none;
    width: auto;
    max-width: none;
    min-height: 43px;
    padding: 0;
    word-wrap: break-word;

    .sidebar-inner {
      padding: 0 !important;
    }
  }

  .lang-menu,
  .main-menu {
    display: none;
  }

  .main {
    width: auto;
    margin: 0;
  }

  .main-inner {
    .front-page & {
      font-size: 22px;
      line-height: $line-height;
      color: $color-white;

      h1 {
        font-size: 22px * 1.5;
      }

      h2 {
        font-size: 22px * 1.25;
      }

      h3 {
        font-size: 22px * 1.1;
      }
    }
  }

  .inner {
    width: auto;
  }

  .container {
    .front-page & {
      background: none;
    }
  }

  .site-title {
    padding: 13px 50px 12px 20px;
    font-size: 18px;

    .search-enabled & {
      padding-right: 90px;
    }

    .edy-positionable-container-maxwidth {
      max-width: 200px !important;
      float: left;
    }
  }

  .sub-menu {
    min-height: 0;
    padding: 20px 20px 15px;
    text-align: left;

    li {
      padding-right: 20px;
      padding-left: 0;
    }

    a {
      white-space: normal;
    }
  }

  .js-bgpicker-cover-image,
  .js-bgpicker-cover-color {
    min-height: 0 !important;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field .jq-select {
    width: 100% !important;
  }

  .blog-list .post {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .post-header {
    padding: 0 20px;
  }

  .post-content {
    padding: 0 20px 30px;
  }

  .comments {
    padding: 0 20px 20px;

    h3 {
      padding-top: 30px;
    }

    &:before {
      width: 100%;
    }
  }

  .comment-form {
    .comment-name-field,
    .comment-email-field {
      float: none;
      width: 100%;
    }

    .comment-name-field {
      margin-right: 0;
    }
  }

  .footer {
    position: static;
    bottom: auto;
    left: auto;
    display: block;
    width: auto;
    background: $color-white;
    .footer-inner {
      padding: 20px;
    }
  }

  /* mobile-menu */
  .mobilemenu-open,
  .mobilesearch-open {
    position: fixed;
    overflow: hidden;
    width: 100%;

    .wrap {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .mobile-menu-toggler {
    position: absolute;
    top: calc(50% - 22px);
    right: 0;
    display: block;
    width: 43px;
    height: 43px;
    outline: 0;

    span {
      &,
      &:before,
      &:after {
        position: absolute;
        top: 14px;
        left: 11px;
        display: block;
        width: 20px;
        height: 3px;
        content: '';
        background: rgba($color-black, .87);
        @include border-radius(5px);

        &.flags-disabled {
          .language-menu-btn {
            position: static;
            width: auto;
            height: auto;
            background-color: red;

            &:before,
            &:after {
              display: none;
            }

            .lang-title {
              display: inline-block;
              position: static;
              color: $color-white;
            }
          }
        }
      }

      &:before {
        top: 6px;
        left: 0;
      }

      &:after {
        top: 12px;
        left: 0;
      }
    }
  }

  #mobile-menu {
    font-family: $font-primary;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;@include bg(#2b2b2b, .9);
    -webkit-overflow-scrolling: touch;

    .mobilemenu-open & {
      display: block;
    }

    .mobile-menu-close {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 42px;
      height: 42px;
      outline: 0;

      &:before,
      &:after {
        position: absolute;
        top: 19px;
        left: 12px;
        display: block;
        width: 20px;
        height: 3px;
        content: '';
        background: $color-white; @include border-radius(3px);
      }

      &:before {
        @include rotate(45deg);
      }

      &:after {
        @include rotate(-45deg);
      }
    }

    .language-menu-btn {
      position: absolute;
      top: 14px;
      left: 15px;
      display: block;
      width: 42px;
      height: 42px;
      outline: 0;

      .lang-menu-btn {
        position: absolute;
        top: 14px;
        left: 11px;

        @media screen and (max-width: $break-small) {
          position: static;
        }
      }
    }

    &.flags-enabled {
      .language-menu-btn {
        .lang-title {
          display: none;
        }
      }
    }

    &.flags-disabled {
      .language-menu-btn {
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        display: inline-block;
        vertical-align: top;
        padding: 11px 9px 17px;
        @include color($color-white);

        &:before,
        &:after {
          display: none;
        }

        .lang-menu-btn {
          position: static;
        }

        .lang-title {
          display: inline-block;
          position: static;
          color: $color-white;
        }
      }
    }

    .language-menu-open & {
      .language-menu-btn {
        display: none;
      }
    }

    .navigation-menu,
    .language-menu {
      display: table;
      width: 100%;
      height: 100%;
      word-break: break-all;

      ul {
        display: table-cell;
        height: 100%;
        padding: 50px 30px;
        list-style-type: none;
        text-align: center;
        vertical-align: middle;

        li {
          display: block;
          margin: 0;
          padding: 15px 0;
          text-align: center;
        }

        a {
          font-size: 24px;
          line-height: $line-height; @include color(white, .5);

          &.active {
            color: $color-white;
          }
        }
      }
    }

    .navigation-menu {
      .language-menu-open & {
        display: none;
      }
    }

    .language-menu {
      display: none;

      .language-menu-open & {
        display: table;
      }
    }
  }

  .mobile-search-toggler {
    position: absolute;
    top: calc(50% - 22px);
    right: 43px;
    display: block;
    width: 33px;
    height: 43px;
    outline: 0;
    background: url('../images/search.png') no-repeat center center;
    background-size: 16px 16px;

    .svg & {
      background-image: url('../assets/search.svg');
    }

    .mobilesearch-open & {
      background: none !important;

      &:before,
      &:after {
        position: absolute;
        top: 20px;
        left: 7px;
        display: block;
        width: 20px;
        height: 3px;
        content: '';
        background: rgba($color-black, .87); @include border-radius(3px);
      }

      &:before {
        @include rotate(45deg);
      }

      &:after {
        @include rotate(-45deg);
      }
    }
  }

  #mobile-search {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    background: $bg-color;
    -webkit-overflow-scrolling: touch;

    .mobilesearch-open & {
      display: block;
    }
  }

  #mobile-search-results {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-width: $break-middle) {
  .main-inner-row {
    float: left;
    width: 100%;
  }
  .content-half {
    float: left;
    width: 50%;
  }

}

.inner-padding {
  height: 100%;
  padding: 65px 20px;
  position: relative;

  @media screen and (min-width: $break-small) {
    padding: 65px 50px;
  }

}

.content-full, .content-half {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.background-color {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dark-background {
  .formatted {
    color: $color-white;

    & h1, h2, h3, h4, p, pre, a, b, input {
      color: $color-white;
    }
  }

  .post-title a {
    color: $color-white;

    &:hover {
      color: rgba($color-white,.75);
    }
  }

  .post-date {
    color: rgba($color-white, .36);
  }

  .footer-row & {
    color: rgba($color-white, .6);
  }
}

.light-background {
  .formatted {
    color: rgba($color-black, .5);

    & h1, h2, h3, h4, p, input {
      color: rgba($color-black, .5);
    }
  }

  .post-title a {
    color: $color-black;
  }

  .footer-row & {
      a {
        color: $color-black;
      }
      b {
        color: rgba($color-black, .5);
      }
  }

  .footer-row & {
    color: rgba($color-black, .6);
  }
}

.custom-btn {
  @include hyphenate(true);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size;
  line-height: $line-height-xs;
  margin: 5px 0;
  max-width: 100%;
  min-width: 180px;
  padding: 0.61em 0.55em;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;

  .dark-background & {
    border: 2px solid $color-white;
    color: $color-white;

    &:hover {
      background: #2b2b2b;
      border: 2px solid $color-white;
      color: $color-white;
    }
  }
  .light-background & {
    border: 2px solid $color-black;
    color: $color-black;

    &:hover {
      background: #2b2b2b;
      border: 2px solid $color-white;
      color: $color-white;
    }
  }

  footer & {
    display: none;
  }
}

.header-row {

  .content-full {
    min-height: 31vh;
  }

}

.footer-row {

  .inner-padding {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .custom-btn {
    min-width: 80px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    text-transform: none;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    text-align: center;
    margin: 0;

    &:hover {
      background: #6b6b6b;
    }
  }

  .dark-background .custom-btn {
    border: 1px solid rgba($color-white, .1);
    color: $color-white;
  }

  .light-background .custom-btn {
    border: 1px solid #333;
    color: $color-black;

    &:hover {
      color: $color-white;
    }
  }

  .footer-right {
    float: right;
    width: 140px;
    margin: 0 0 0 10px;
  }

  .footer-left {
    .front-page & {
      float: left;
      width: calc(100% - 150px)!important;
      padding-top: 0;
    }
  }

  .light-background .custom-btn:hover a {
    color: $color-white;
  }

}
