@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '_mixins';

$main-color: #222222;
$secondary-color: #000000;

$link-color: #0066bb;
$third-color: #a3a3a3;
$bg-color: #f6f6f6;
$error-color: #c70909;
$success-color: #409e13;
$black: #000000;
$white: #ffffff;

$font-size-xs: 10px;
$font-size: 18px;
$font-size-big: 20px;
$font-size-xl: 24px;
$font-size-small: 14px;

$line-height-tiny: 18px;
$line-height-xs: 24px;
$line-height: 32px;

$font-main: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-secondary: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$site-width: 1024px;
$side-width: 200px;
$content-width: $site-width - $side-width;

$search-width: 300px;

$break-small: 600px;
$break-middle: 1024px;
$break-large: 1500px;


%nulling {
  margin: 0;
  padding: 0;
}

%button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }
}

html,
body {
  @extend %nulling;
  height: 100% !important;
  min-height: 100%;
  font: #{$font-size}/1.67 $font-main;

  @media screen and (min-width: $break-large) {
    font-size: $font-size-big;
  }
}

body {
  position: relative;
  min-width: $site-width;
  text-align: left;
  color: $main-color;
  background: white;

  @include box-sizing(border-box);
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    @include color($link-color, .85);
  }
}

.cfx {
  zoom: 1;
  min-height: 1px;

  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: '.';
  }
}

img {
  border: none;
}

form {
  @extend %nulling;
}

h1,
h2,
h3 {
  @extend %nulling;
  font: normal 30px/1.1 $font-secondary;
  color: $main-color;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin: 30px 0 20px;
  font-size: 24px;
}

h3 {
  margin: 30px 0 20px;
  font-family: $font-main;
  font-size: 18px;
  font-weight: bold;
}

p {
  margin: 20px 0;
  padding: 0;
}

ul,
ol {
  @extend %nulling;
  list-style-type: none;

  li {
    @extend %nulling;
  }
}

input[type=submit],
input[type=text],
textarea {
  border-radius: 0;
  -webkit-appearance: none;
}

// Disables hyphenation for the elements that shouldn't hyphenate.
pre,
code,
iframe,
table,
form {
  .formatted & {
    @include hyphenate(false);
  }
}

pre {
  font-size: 14px;
  @include bg(white, .3);

  .light-background & {
    @include bg($secondary-color, .2);
  }
}

pre {
  overflow: auto;
  padding: 10px;

  code {
    display: inline;
    padding: 0;
    line-height: inherit;
    white-space: pre;
    background-color: transparent;
    @include word-wrap(normal);
  }
}

code {
  display: inline-block;
  padding: 5px;

  @include word-wrap(break-word);
}

blockquote {
  margin: 20px 40px;

  .front-page & {
    text-align: left;
  }
}


.font-size-small {
  font: #{$font-size}/1.67 $font-main !important;

  @media screen and (min-width: $break-large) {
    font-size: $font-size-big !important;
  }
}

.bgpicker-btn {
  @extend %button;
}

/* select */
.jq-select {
  position: relative;
  font: #{$font-size}/1.67 $font-main;
  cursor: pointer;
  color: $main-color;
  background: white;

  select {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: #{$font-size}/1.67 $font-main;
    cursor: pointer;
    opacity: 0;
    color: $main-color;
    border: none;
    -webkit-appearance: none;
    filter: alpha(opacity=0);
    -moz-opacity: .0;
  }
}

.jq-select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  border-left: 3px solid $bg-color;
  background: white;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -2px;
    margin-left: -6px;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-width: 6px;
    border-top-color: $main-color;
  }
}

.jq-select-content {
  position: relative;
  z-index: 5;
  padding: 4px 38px 4px 5px;
  padding-right: 48px;
}

.jq-select-inner {
  overflow: hidden;
  white-space: nowrap;
}

/* form */
.edy-fe-field,
.form_field {
  margin-bottom: 20px;
}

.edy-fe-label,
.form_field_label {
  display: block;
  padding-bottom: 5px;
}

.form_field label {
  display: block;
}

.form_field_textfield,
.form_field_textarea {
  width: 30%;
  padding: 4px 5px;
  font: #{$font-size}/1.67 $font-main;
  color: $main-color;
  border: none;
  outline: none;
  background: $white;
  @include border-radius(0);
  @include box-sizing(border-box);

  .light-background & {
    background: #eee;
  }
}

.form_field_textfield,
.form_field_textarea,
.form_field_select,
.form_field .jq-select {
  width: 30%;
}

.form_field_size_large {
  width: 100% !important;
}

.form_field_size_medium {
  width: 60% !important;
}

.form_field_size_small {
  width: 30% !important;
}

.form_error,
.form_notice {
  padding: 0;
  padding: 0 0 20px;
  font-weight: bold;
}

.form_error {
  color: $error-color;
}

.form_notice {
  color: $success-color;
}

.form_field_error {
  display: none;
  color: $error-color;
}

.form_field_with_errors input,
.form_field_with_errors textarea {
  @include bg($error-color, .2);
}

.form_submit input,
.submit {
  height: 45px;
  font: #{$font-size}/1.67 $font-main;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: #2b2b2b;
  -webkit-appearance: none;
  @include border-radius(0);
  @include color(white, .5);

  &:hover {
    @include bg(#2b2b2b, .8);
  }
}

.form_field_required {
  .form_field_label:after {
    content: '*';
  }
}

/* custom checkboxes and radio buttons */
label {
  cursor: pointer;

  &:before {
    display: none;
    content: url('../images/check.png?1');
  }

  .form_field_checkbox,
  .form_field_radio {
    display: none;
    display: inline-block\9;
  }

  .form_field_checkbox {
    + .form_control_indicator:before {
      background: white;
    }

    &:checked {
      + .form_control_indicator:before {
        width: 100%;
        height: 100%;
        background: url('../images/check_small.png?1') no-repeat left bottom;
        .backgroundsize & {
          width: 100%;
          height: 100%;
          background: url('../images/check.png?1') no-repeat left bottom;
          background-size: 17px 18px;
        }
      }
    }
  }

  .form_field_radio {
    + .form_control_indicator:before {
      width: 9px;
      height: 9px;
      border: 3px solid white;
    }

    &:checked {
      + .form_control_indicator:before {
        background-color: $main-color;
      }
    }
  }

  .form_control_indicator {
    position: relative;
    display: inline-block;
    display: none\9;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    vertical-align: 0;
  }

  .form_control_indicator:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    content: '';
  }
}

/* layout */
.wrap {
  height: 100%;
  min-height: 100%;
}

.topbar {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 90px;
  background: white;
}

.sidebar {
  float: left;
  width: $side-width;
  min-height: 100%;
  position: relative;
  z-index: 5;
  @include box-shadow(5px,-50px,50px,rgba(0,0,0,.05));

  @media screen and (min-width: $break-large) {
    width: 20%;
  }

  .sidebar-inner {
    padding: 45px 30px 100px;
  }
}

.main {
  position: relative;
  margin-left: $side-width;
  background: $bg-color;

  .footer-left {
    padding-top: 20px;
  }

  .editmode & {
    padding-bottom: 40px;
    @media screen and (min-width: $break-small) {
      padding-bottom: 40px;
    }
  }

  .edy-bar-open & {
    padding-bottom: 125px;

    @media screen and (min-width: $break-small + 41px) {
      padding-bottom: 150px;
    }
  }

  @media screen and (max-width: $break-small - 1px) {
    height: auto!important;
  }

  @media screen and (min-width: $break-large) {
    margin-left: 20%;
  }
}
.main-inner {
  position: relative;

  .front-page & {
    font-family: $font-secondary;
    font-size: $font-size-xl;
    line-height: $line-height;
    text-align: center;

    h1 {
      font-size: $font-size-xl * 1.5;
    }

    h2 {
      font-size: $font-size-xl * 1.25;
    }

    h3 {
      font-size: $font-size-xl * 1.1;
    }

    .dark-background {
      h1,
      h2,
      h3 {
        color: white;
      }

      .placeholder {
        color: rgba(255,255,255,.5);
      }
    }
  }
}

.inner {
  &.main-inner {
    width: auto !important;
  }

  @media screen and (min-width: $break-large) {
    width: 75%;
  }
}

.container-wrap {
  position: relative;
  z-index: 4;
}

.container {
  float: left;
  width: 100%;
}

.site-title {
  overflow: hidden;
  padding-top: 20px;
  font-family: $font-secondary;
  font-size: $font-size-xl;
  line-height: $line-height;
  vertical-align: top;
  text-transform: uppercase;
  color: $main-color;
  @include hyphenate(true);

  @media screen and (min-width: $break-middle) {
    min-height: calc(31vh - 85px);
  }

  a {
    color: $main-color;
  }

  .topbar & {
    height: 40px;
    margin-right: 80px;
    padding: 27px 0 0 30px;
    white-space: nowrap;
  }
}

/* mainmenu */
.main-menu {
  padding-top: 20px;
  font-family: $font-secondary;
  @include hyphenate(true);

  li {
    padding: 6px 0;
    font-size: $font-size-small;
    line-height: $line-height-tiny;
    text-transform: uppercase;
  }

  a {
    color: $third-color;

    &:hover,
    &.active {
      color: $secondary-color;
    }
  }
}

/* submenu */
.sub-menu {
  min-height: 35px;
  padding: 30px 50px 15px 50px;
  font: 14px/1.1 $font-secondary;
  text-align: right;
  word-wrap: break-word;

  li {
    display: inline-block;
    padding-left: 20px;

    &.edy-btn {
      vertical-align: middle;
    }
  }

  a {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 11px;
    white-space: nowrap;
    color: $third-color;

    &:hover {
      color: $main-color;
    }

    &.active {
      margin-bottom: 4px;
      padding-bottom: 4px;
      color: $main-color;
      border-bottom: 3px solid $main-color;
    }

    &.edy-cbtn {
      padding: 0;
    }
  }
}

/* flags */
.lang-flag {
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 21px;
    height: 15px;
    content: '';

    .flags-disabled & {
      display: none;
    }
  }

  &:after {
    background-position: -189px -60px;
  }
}

.lang-flag:before {
  @include bg($black);
}

.lang-flag:after {
  opacity: .95;
  background-repeat: no-repeat;

  .no-boxshadow & {
    border: 1px solid #eeeeee;
  }

  .backgroundsize.svg & {
    background-image: url('../assets/ico-flags.svg');
  }

  .no-svg {
    background-image: url('../images/ico-flags.png');
  }
}

// Language flag icons positioning in the spritemap.
$flags:
// Albanian (Albania)
(sq, 0 0),
// Armenian (Armenia)
(hy, -21px 0),
// Bengali (Bangladesh)
(bn, -42px 0),
// Brazilian Portuguese (Brazil)
// (xx, -63px 0),
// Bulgarian (Bulgaria)
(bg, -84px 0),
// Chinese (China)
(zh, -105px 0),
// Croatian (Croatia)
(hr, -126px 0),
// Danish (Denmark)
(da, -147px 0),
// Czech (Czech Republic)
(cs, -168px 0),
// Estonian (Estonia)
(et, -189px 0),

// Finnish (Finland)
(fi, 0 -15px),
// French (France)
(fr, -21px -15px),
// Georgian (Georgia)
(ka, -42px -15px),
// German (Germany)
(de, -63px -15px),
// Greek (Greece)
(el, -84px -15px),
// Hungarian (Hungary)
(hu, -105px -15px),
// Icelandic (Iceland)
(is, -126px -15px),
// Hindi (India)
(hi, -147px -15px),
// Indonesian (Indonesia)
(id, -168px -15px),
// Iranian (Iran)
(fa, -189px -15px),

// Hebrew (Israel)
(he, 0 -30px),
// Italian (Italy)
(it, -21px -30px),
// Japanese (Japan)
(ja, -42px -30px),
// Korean (Korea, South)
(ko, -63px -30px),
// Latvian (Latvia)
(lv, -84px -30px),
// Lithuanian (Lithuania)
(lt, -105px -30px),
// Malaysian (Malaysia)
(ms, -126px -30px),
// Dutch (Netherlands)
(nl, -147px -30px),
// Norwegian (Norway)
(no, -168px -30px),
// Urdu (Pakistan)
(ur, -189px -30px),

// Filipino (Philippines)
(fil, 0 -45px),
// Polish (Poland)
(pl, -21px -45px),
// Romanian (Romania)
(ro, -42px -45px),
// Russian (Russia)
(ru, -63px -45px),
// Arabic (Saudi Arabia)
(ar, -84px -45px),
// Slovakian (Slovakia)
(sk, -105px -45px),
// Slovenian (Slovenia)
(sl, -126px -45px),
// Spanish (Spain)
(es, -147px -45px),
// Swedish (Sweden)
(sv, -168px -45px),
// Turkish (Turkey)
(tr, -189px -45px),

// Ukrainian (Ukraine)
(uk, 0 -60px),
// American English (United States of America)
(en, -21px -60px),
// French (Ivory Coast)
// (xx, -42px -60px),
// British English (Great Britian)
(en-gb, -63px -60px),
// Portuguese (Portuguese Republic)
(pt, -84px -60px),
// Canadian English (Canada)
// (xx, -105px, -60px),
// Serbian (Republic of Serbia)
(sr, -126px, -60px),
// Dutch, French, German (Kingdom of Belgium)
// (xx, -147px, -60px),
// Australian English (Commonwealth of Australia)
// (xx, -168px, -60px),
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after {
    background-position: $pos;
  }
}

.lang-options {
  @include bg($black, 0.09);

  .menu {
    .menu-item {
      padding: 7px 12px;
      font-size: 13px;

      @media screen and (max-width: $break-middle) {
        text-align: right;
      }
    }
  }

  @media screen and (max-width: $break-small) {
    background-color: transparent;

    .menu {
      #mobile-menu & {
        display: block;
        padding: 0;
      }

      .menu-item {
        @include color($white, .5);
      }
    }
  }
}

.option-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  @include color($link-color);

  &:hover {
    @include color($link-color, .8);
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }

  &:focus {
    outline: none;
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }

  .disable-text,
  .enable-text {
    &:first-letter {
      text-transform: capitalize;
    }
  }

  @media screen and (max-width: $break-small) {
    @include color($white);

    &:hover {
      @include color($white, .8);
    }
  }
}

/* langmenu */
.lang-menu {
  position: absolute;
  z-index: 200;
  top: 30px;
  left: 30px;
  height: 13px;

  li {
    display: block;
    font-size: 12px;
    text-align: left;

    &.add-lang-btn {
      padding: 5px 0 4px 10px;

      @media screen and (max-width: $break-middle) {
        padding: 5px 10px 4px 0;
        text-align: right;
      }
    }
  }

  a {
    &.lang-flag {
      position: relative;
      display: block;
      padding: 6px 13px 5px 40px;
      @include color(#1b2124, .7);

      &:before,
      &:after {
        top: 4px;
        left: 12px;
      }

      &.active,
      &:hover {
        background-color: #cccccc;
      }

      &:hover {
        @include bg(#cccccc, .5);
      }

      @media screen and (max-width: $break-middle) {
        padding: 6px 40px 5px 13px;
        text-align: right;

        &:before,
        &:after {
          left: auto;
          right: 12px;
        }
      }
    }

    &.edy-menu-langadd {
      display: inline-block;
      padding: 5px;
    }
  }

  &.flags-disabled {
    a.lang-flag {
      padding: 6px 13px 5px;
    }
  }
}

.lang-menu-btn {
  @extend %nulling;
  @extend %button;
  position: relative;
  display: block;
  height: 15px;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background: none;

  .flags-enabled & {
    width: 21px;

    .lang-title {
      display: none;
    }
  }

  .lang-flag {
    &:before,
    &:after {
      top: 0;
      left: 0;
    }
  }

  .ico-popover-toggle {
    position: relative;
    top: -1px;
    display: inline-block;
    font-size: 7.2px;

    .flags-enabled & {
      display: none;
    }
  }
}

.lang-menu-popover {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -12px;
  display: none;
  min-width: 122px;
  padding: 5px 0;
  line-height: 1;
  text-align: left;
  background: #ffffff;
  @include box-shadow(0,0,5px,rgba(0,0,0,.3));

  .no-boxshadow & {
    border: 1px solid #eeeeee;
  }

  .editmode & {
    padding-bottom: 0;
  }
}

/* content */
.content {
  position: relative;
  @include hyphenate(true);

  padding: 65px 20px;

  @media screen and (min-width: $break-small) {
    padding: 65px 50px;
  }
}

.content-inner {
  position: relative;
  font-family: $font-secondary;
  @include hyphenate(true);

  @media screen and (max-width: $break-middle - 1px) {
    display: inline-block;
    width: 100%;
  }

  .header-row & {
    font-size: $font-size-xl;
    line-height: $line-height;
  }

  .footer-row & {
    font-size: $font-size-small;
    font-family: $font-secondary;
    line-height: $line-height-xs;
    padding: 4px 0;
  }

  .header-row, .center-row & {
    min-height: 100px;
  }

  .inner-bottom {
    display: inline-block;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

}

.formatted {
  ul,
  ol {
    margin: 15px 0;
    padding-left: 35px;
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    padding-left: 3px;
  }

  form {
    padding: 20px 0;
  }

  form,
  .form_fields {
    text-align: left;
  }

  // IMAGE CONTAINERS
  .edy-positionable-container-center,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-right-block {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .edy-positionable-container-left,
  .edy-positionable-container-right {
    width: 45%;
  }

  .edy-positionable-container-left,
  .edy-texteditor-container-wrapper-left {
    margin-right: 2em;
  }

  .edy-positionable-container-right,
  .edy-texteditor-container-wrapper-right {
    margin-left: 2em;
  }

  // Content area image title
  .edy-image-container-with-title {
    &:after {
      display: block;
      padding: 4px;
      font-size: 16px;
      line-height: 1.3em;
      content: attr(data-title);
    }
  }

  .edys-gallery-area,
  .edy-gallery-area {
    /*margin-left: -6px;*/
    font-size: 0;
    line-height: 1em;

    .edys-gallery-item {
      @include transition(opacity 0.3s ease-in);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;

      &.inactive {
        opacity: .6;
      }

      &:hover {
        opacity: 1;
      }
    }

    .edys-gallery-item,
    .edy-gallery-item,
    .edy-gallery-sortable-placeholder {
      display: inline-block;
      float: none;
      margin: 3px 0 3px 6px
    }
  }
}

/* articles */
.blog-content h1 {
  margin: 0;
  padding: 0;
}

.blog-list {
  .post-wrap {
    border-top: 2px solid white;
  }

  .post {
    padding: 30px 30px;
  }

  .post-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.1;
    word-wrap: break-word;

    a {
      color: $secondary-color;
    }

    a:hover {
      @include color($secondary-color, .75);
    }
  }
}

.post-header {
  padding: 0 30px 0;
}

.post-date {
  display: inline;
  color: $third-color;
}

.post-content {
  padding: 0 30px 60px;
  word-wrap: break-word;
}

.post-body {
  padding: 20px 0 0;
}
.post-tags {
  padding: 20px 0 0;
}

.tbl {
  display: table;
  visibility: hidden;
  width: 100%;
  border-collapse: collapse;

  .tbl-row {
    display: table-row;
  }

  .tbl-cell {
    display: table-cell;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
}

/* comments */
.comments {
  position: relative;
  padding: 0 30px 30px;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 250px;
    height: 2px;
    content: '';
    background: white;
  }

  h3 {
    margin: 0;
    padding: 45px 0 20px;
  }
}

.comment-form {
  position: relative;
  min-height: 30px;
  padding-bottom: 10px;

  .comment-form-focus-input {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
  }

  .form_area {
    display: none;
  }

  .form_field {
    padding-bottom: 10px;
  }

  .comment-name-field,
  .comment-email-field {
    float: left;
    width: 250px;

    input {
      width: 100% !important;
      border-bottom: 1px solid #cecece;
      background: none;
    }
  }

  .comment-name-field {
    margin-right: 20px;
  }

  .submit-holder {
    padding-top: 20px;
  }

  .form_field_with_errors .form_field_textfield {
    border-bottom: 1px solid $error-color;
    border-bottom: 1px solid rgba($error-color, .3);
    @include color($error-color, .8);
  }

  &.form_with_errors {
    .comment-form-focus-input {
      display: none;
    }

    .form_area {
      display: block;
    }
  }
}

.comment {
  padding-top: 20px;
  word-wrap: break-word;

  .comment-info {
    font-size: 14px;
    color: $third-color;

    .edy-site-btn-removecomment {
      vertical-align: -1px;
    }
  }
}

/* table */
.table-holder {
  overflow: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;

  td,
  th {
    padding: 10px;
    border: 1px solid $third-color;
    border-color: rgba($third-color, .9);
  }

  th {
    font-weight: bold;
  }
}

/* mobile-menu */
.mobile-menu-toggler,
#mobile-menu,
.mobile-menu-toggler,
#mobile-search {
  display: none;
}

/* footer */

.footer {
  position: absolute;
  z-index: 6;
  background: $white;
  right: 100%;
  bottom: 0;
  width: $side-width;
  font-size: 11px;
  line-height: 1.6;
  @include box-sizing(border-box);
  @include hyphenate(true);

  .footer-inner {
    padding: 20px 30px;
  }

  @media screen and (min-width: $break-large) {
    width: 25%;
  }

  .editmode & {
    padding-bottom: 40px;
  }

  .edy-bar-open & {
    @media screen and (min-width: $break-small) {
      padding-bottom: 150px;
    }
  }
}
.front-page footer {
  display: none;
}

@media screen and (min-width: $break-small + 1px) {
  .front-page footer {
    display: block;
  }
}

/* Voog reference */

.voog-reference {
  footer & {
    padding-top: 20px;
  }

  a {
    color: #acacac;
  }

  svg {
    height: 9px;
    width: 35px;

    path {
      .dark-background & {
        fill: $white;
      }
      .light-background & {
        fill: $third-color;
      }
      footer & {
        fill: $third-color;
      }
    }
  }
  .front-page & {
    display: block;
  }
  @media screen and (min-width: $break-small) {
    .footer-row & {
      display: none;
    }
  }
}

/* other */
.edy-gallery-area,
.edys-gallery-area {
  padding: 20px 0;
  clear: both;
}

.edys-gallery-area,
.edy-gallery-area {
  .front-page & {
    font-size: 0;
  }

  .edys-gallery-item {
    .front-page & {
      display: inline-block;
    }
  }
}

.edy-gallery-image,
.edys-gallery-item {
  @include border-radius(96px);
}

.js-bgpicker-cover-image {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.js-bgpicker-cover-color {
  position: relative;
  z-index: 1;
  color: white;
  background: rgba(0,0,0,.2);

}

.light-background {
  color: $main-color;

  .edy-empty-bordered {
    border-color: white;
    border-color: rgba(255,255,255,.35);
  }

  .edy-empty-bordered {
    .edy-empty-header {
      color: white;
      color: rgba(255,255,255,.5);
    }
  }
  .edy-empty-bordered {
    border-color: white;
    border-color: rgba(0,0,0,.35);
  }

  .edy-content-element-hover {
    border-color: white;
    border-color: rgba(0,0,0,.1);
  }

  .edy-empty-bordered {
    .edy-empty-header {
      color: white;
      color: rgba(0,0,0,.5);
    }
  }

  .edy-texteditor-active {
    outline: 1px solid rgba(0, 0, 0, .2);
  }

  .edy-texteditor-active:hover {
    outline: 1px solid rgba(0, 0, 0, .3);
  }

  .edy-empty-bordered {
    color: rgba(27,33,36,0.33);
    border: 1px dashed rgba(27,33,36,0.33);
  }
}

.dark-background {

  .edy-content-element-hover {
    border-color: white;
    border-color: rgba(255,255,255,.3);
  }

  .edy-texteditor-active {
    outline: 1px solid rgba(255, 255, 255, 0.7);
  }

  .edy-texteditor-active:hover {
    outline: 1px solid rgba(255, 255, 255, 0.63);
  }

  .placeholder {
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.5);
  }

  .edy-empty-bordered {
    color: rgba(255, 255, 255, 0.7);
    border: 1px dashed rgba(255, 255, 255, 0.7);
  }
}

.front-page {
  .footer-row {
    .edy-empty-bordered {
      padding: 6px;
    }
  }
}

.rgba .js-bgpicker-cover-color {
  display: block;
}

.js-bgpicker-cover-settings {
  left: 0;
}

.untranslated {
  zoom: 1;
  opacity: .5;

  filter: alpha(Opacity=50);
}

/* search */
.search {
  position: relative;
  padding-bottom: 0px;

  .search-box {
    position: relative;
    overflow: hidden;
    padding: 0 40px 0 10px;
    background: $bg-color;

    &.search-box-focus {
      background-color: #f9ec5a;
    }

    #mobile-search & {
      padding-right: 50px;
      padding-left: 20px;
    }
  }

  .search-input {
    width: 100%;
    margin: 0;
    padding: 4px 0;
    font: #{$font-size-small}/22px $font-secondary;
    color: $main-color;
    border: none;
    outline: 0;
    background: none;

    &::-ms-clear {
      display: none;
    }
    &::-webkit-input-placeholder {
      opacity: 1;
      color: rgba(0,0,0,.2);
    }

    &:-moz-placeholder {
      opacity: 1;
      color: rgba(0,0,0,.2);
    }

    &::-moz-placeholder {
      opacity: 1;
      color: rgba(0,0,0,.2);
    }

    &:-ms-input-placeholder {
      opacity: 1;
      color: rgba(0,0,0,.2);
    }

    #mobile-search & {
      padding: 10px 0;
      font-size: 16px;
    }
  }
  .search-close {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background: url('../images/search-close.png') no-repeat center center;

    .voog-search-visible & {
      display: block;
    }
  }

  &:after {
    position: absolute;
    top: -2px;
    right: -30px;
    display: none;
    width: 0;
    height: 0;
    content: ' ';
    pointer-events: none;
    border: solid transparent;
    border-width: 18px;
    border-color: rgba(229, 229, 229, 0);
    border-right-color: $bg-color;

    @media screen and (min-width: $break-small + 1px) and (max-width: $break-middle - 1px) {
      right: -20px;
    }

    .voog-search-visible & {
      display: block;
    }

    #mobile-search & {
      display: none;
    }
  }

  .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: .5;
    border: none;
    outline: 0;
    background: url('../images/search.png') no-repeat center center;
    background-size: 16px 16px;

    .svg & {
      background-image: url('../assets/search.svg');
    }
  }
}

/* search-container */
.voog-search-container {
  position: fixed;
  z-index: -1;
  top: 0;
  display: block;
  overflow: hidden;
  width: 0;
  height: 100%;
  margin-left: $side-width;
  -webkit-transition: opacity .1s ease-in, width .3s ease-in;
  transition: opacity .1s ease-in, width .3s ease-in;
  opacity: 0;
  background: $bg-color;

  @media screen and (min-width: $break-large) {
    margin-left: 20%;
  }

  @media screen and (min-width: $break-small + 1px) and (max-width: $break-middle - 1px) {
    top: 90px;
    margin-left: $side-width;
  }

  #mobile-search & {
    position: static;
    top: auto;
    width: 100%;
    margin-left: 0 !important;

    .voog-mobile-search-visible & {
      z-index: 1000;
      display: block;
      opacity: 1;
    }
  }

  .voog-search-visible & {
    z-index: 1000;
    display: block;
    width: $search-width;
    opacity: 1;
    @include box-shadow(10px, 0px, 10px, rgba(0,0,0,.05));
  }
}

.voog-search-inner {
  overflow: auto;
  width: $search-width;
  height: 100%;

  #mobile-search & {
    width: auto;
  }
}

.voog-search-loader {
  display: block;
  height: 100%;

  .svg & {
    background: url('../assets/loader.svg') no-repeat center center;
  }
}

.voog-search-results {
  display: none;
  padding: 20px 0;

  #mobile-search & {
    padding: 10px 0;
  }
}

.voog-search-noresults {
  display: none;
  width: 100%;
  height: 100%;
  height: 100%;

  div {
    display: table-cell;
    padding: 40px;
    text-align: center;
    vertical-align: middle;
    color: $third-color;
  }

  &.voog-search-noresults-visible {
    display: table;
  }
}

.voog-search-result {
  padding: 12px 18px;
  font-size: 14px;
  line-height: 1.5;

  .voog-search-result-title {
    margin: 0;
    padding: 0 0 12px;
    font-size: 16px;
  }

  .voog-search-result-link {
    color: $main-color;

    &:hover {
      @include color($main-color, .8);
    }
  }

  .voog-search-result-content {
    margin: 0;
    padding: 0;
  }

  em {
    font-style: normal;
    background: #f9ec5a;
  }
}

@media screen and (max-width: $break-middle - 1px) {
  .site-title {
    br {
      display: none;
    }
  }
}

@media screen and (min-width: $break-small + 1px) and (max-width: $break-middle - 1px) {
  body {
    min-width: 0;
  }

  .topbar {
    display: block;

    .site-title {
      padding-left: 20px;
    }
  }

  .main {
    margin-left: $side-width;
    padding-top: 90px;
  }

  .sidebar {
    width: $side-width;

    .sidebar-inner {
      padding-top: 90px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .site-title {
      display: none;
    }
  }

  .sub-menu {
    a {
      white-space: normal;
    }
  }

  .main-menu {
    padding-top: 35px;
  }

  .inner {
    width: auto;
  }

  .lang-menu {
    right: 25px;
    left: auto;
  }

  .lang-menu-popover {
    right: -12px;
    left: auto;
  }

  .footer {
    width: $side-width;
    .footer-inner {
      padding: 20px;
    }
  }
}

@media screen and (max-width: $break-small) {
  body,
  html {
    font-size: 16px;
    line-height: 1.75;
  }

  .font-size-small {
    font-size: 16px !important;
    line-height: 1.75 !important;
  }

  body {
    min-width: 320px;
    background: white;
  }

  .wrap,
  .wrap-inner,
  .main {
    display: block !important;
  }

  .front-page {
    &,
    .wrap,
    .main {
      height: 100%;
    }
  }

  .search-form,
  body > .voog-search-container {
    display: none !important;
  }

  .sidebar {
    display: block;
    float: none;
    width: auto;
    max-width: none;
    min-height: 43px;
    padding: 0;
    word-wrap: break-word;

    .sidebar-inner {
      padding: 0 !important;
    }
  }

  .lang-menu,
  .main-menu {
    display: none;
  }

  .main {
    width: auto;
    margin: 0;
  }

  .main-inner {
    .front-page & {
      font-size: 22px;
      line-height: $line-height;
      color: white;

      h1 {
        font-size: 22px * 1.5;
      }

      h2 {
        font-size: 22px * 1.25;
      }

      h3 {
        font-size: 22px * 1.1;
      }
    }
  }

  .inner {
    width: auto;
  }

  .container {
    background: $bg-color;

    .front-page & {
      background: none;
    }
  }

  .site-title {
    padding: 13px 50px 12px 20px;
    font-size: 18px;

    .search-enabled & {
      padding-right: 90px;
    }
  }

  .sub-menu {
    min-height: 0;
    padding: 20px 20px 15px;
    text-align: left;

    li {
      padding-right: 20px;
      padding-left: 0;
    }

    a {
      white-space: normal;
    }
  }

  .js-bgpicker-cover-image,
  .js-bgpicker-cover-color {
    min-height: 0 !important;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field .jq-select {
    width: 100% !important;
  }

  .blog-list .post {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .post-header {
    padding: 0 20px;
  }

  .post-content {
    padding: 0 20px 30px;
  }

  .comments {
    padding: 0 20px 20px;

    h3 {
      padding-top: 30px;
    }

    &:before {
      width: 100%;
    }
  }

  .comment-form {
    .comment-name-field,
    .comment-email-field {
      float: none;
      width: 100%;
    }

    .comment-name-field {
      margin-right: 0;
    }
  }

  .footer {
    position: static;
    bottom: auto;
    left: auto;
    display: block;
    width: auto;
    background: white;
    .footer-inner {
      padding: 20px;
    }
  }

  /* mobile-menu */
  .mobilemenu-open,
  .mobilesearch-open {
    position: fixed;
    overflow: hidden;
    width: 100%;

    .wrap {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .mobile-menu-toggler {
    position: absolute;
    top: calc(50% - 22px);
    right: 0;
    display: block;
    width: 43px;
    height: 43px;
    outline: 0;

    span {
      &,
      &:before,
      &:after {
        position: absolute;
        top: 14px;
        left: 11px;
        display: block;
        width: 20px;
        height: 3px;
        content: '';
        background: $main-color;
        @include border-radius(5px);

        &.flags-disabled {
          .language-menu-btn {
            position: static;
            width: auto;
            height: auto;
            background-color: red;

            &:before,
            &:after {
              display: none;
            }

            .lang-title {
              display: inline-block;
              position: static;
              color: $white;
            }
          }
        }
      }

      &:before {
        top: 6px;
        left: 0;
      }

      &:after {
        top: 12px;
        left: 0;
      }
    }
  }

  #mobile-menu {
    font-family: $font-secondary;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;@include bg(#2b2b2b, .9);
    -webkit-overflow-scrolling: touch;

    .mobilemenu-open & {
      display: block;
    }

    .mobile-menu-close {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 42px;
      height: 42px;
      outline: 0;

      &:before,
      &:after {
        position: absolute;
        top: 19px;
        left: 12px;
        display: block;
        width: 20px;
        height: 3px;
        content: '';
        background: white; @include border-radius(3px);
      }

      &:before {
        @include rotate(45deg);
      }

      &:after {
        @include rotate(-45deg);
      }
    }

    .language-menu-btn {
      position: absolute;
      top: 14px;
      left: 15px;
      display: block;
      width: 42px;
      height: 42px;
      outline: 0;

      .lang-menu-btn {
        position: absolute;
        top: 14px;
        left: 11px;

        @media screen and (max-width: $break-small) {
          position: static;
        }
      }
    }

    &.flags-enabled {
      .language-menu-btn {
        .lang-title {
          display: none;
        }
      }
    }

    &.flags-disabled {
      .language-menu-btn {
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        display: inline-block;
        vertical-align: top;
        padding: 11px 9px 17px;
        @include color($white);

        &:before,
        &:after {
          display: none;
        }

        .lang-menu-btn {
          position: static;
        }

        .lang-title {
          display: inline-block;
          position: static;
          color: $white;
        }
      }
    }

    .language-menu-open & {
      .language-menu-btn {
        display: none;
      }
    }

    .navigation-menu,
    .language-menu {
      display: table;
      width: 100%;
      height: 100%;
      word-break: break-all;

      ul {
        display: table-cell;
        height: 100%;
        padding: 50px 30px;
        list-style-type: none;
        text-align: center;
        vertical-align: middle;

        li {
          display: block;
          margin: 0;
          padding: 15px 0;
          text-align: center;
        }

        a {
          font-size: 24px;
          line-height: $line-height; @include color(white, .5);

          &.active {
            color: white;
          }
        }
      }
    }

    .navigation-menu {
      .language-menu-open & {
        display: none;
      }
    }

    .language-menu {
      display: none;

      .language-menu-open & {
        display: table;
      }
    }
  }

  .mobile-search-toggler {
    position: absolute;
    top: calc(50% - 22px);
    right: 43px;
    display: block;
    width: 33px;
    height: 43px;
    outline: 0;
    background: url('../images/search.png') no-repeat center center;
    background-size: 16px 16px;

    .svg & {
      background-image: url('../assets/search.svg');
    }

    .mobilesearch-open & {
      background: none !important;

      &:before,
      &:after {
        position: absolute;
        top: 20px;
        left: 7px;
        display: block;
        width: 20px;
        height: 3px;
        content: '';
        background: $main-color; @include border-radius(3px);
      }

      &:before {
        @include rotate(45deg);
      }

      &:after {
        @include rotate(-45deg);
      }
    }
  }

  #mobile-search {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    background: $bg-color;
    -webkit-overflow-scrolling: touch;

    .mobilesearch-open & {
      display: block;
    }
  }

  #mobile-search-results {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-width: $break-middle) {
  .main-inner-row {
    float: left;
    width: 100%;
  }
  .content-half {
    float: left;
    width: 50%;
  }

}

.inner-padding {
  height: 100%;
  padding: 65px 20px;
  position: relative;

  @media screen and (min-width: $break-small) {
    padding: 65px 50px;
  }

}

.content-full, .content-half {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.background-color {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dark-background {
  color: $white;
  & h1, h2, h3, h4, p, pre, a, b {
    color: $white;
  }

  .footer-row & {
    color: rgba(255, 255, 255, 0.6);
  }
}

.light-background {
  color: rgba(0, 0, 0, 0.5);
  & h1, h2, h3, h4, p {
    color: rgba(0, 0, 0, 0.5);
  }
  .footer-row & {
      a {
        color: $black;
      }
      b {
        color: rgba(0, 0, 0, 0.5);
      }
  }

  .footer-row & {
    color: rgba(0, 0, 0, 0.6);
  }
}

.custom-btn {
  display: inline-block;
  box-sizing: border-box;
  min-width: 180px;
  max-width: 100%;
  padding: 11px 10px;
  text-transform: uppercase;
  font-size: $font-size;
  line-height: $line-height-xs;
  text-align: center;
  margin: 5px 10px;
  cursor: pointer;
  @include hyphenate(true);

  .dark-background & {
    border: 2px solid $white;
    color: $white;

    &:hover {
      background: #2b2b2b;
      border: 2px solid $white;
      color: $white;
    }
  }
  .light-background & {
    border: 2px solid $black;
    color: $black;

    &:hover {
      background: #2b2b2b;
      border: 2px solid $white;
      color: $white;
    }
  }

  footer & {
    display: none;
  }
}

.header-row {

  .content-full {
    min-height: 31vh;
  }

}

.footer-row {

  .inner-padding {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .custom-btn {
    min-width: 80px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    text-transform: none;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    text-align: center;
    margin: 0px 0px;

    &:hover {
      background: #6b6b6b;
    }
  }

  .dark-background .custom-btn {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: $white;
  }

  .light-background .custom-btn {
    border: 1px solid #333;
    color: $black;

    &:hover {
      color: $white;
    }
  }

  .footer-right {
    float: right;
    width: 140px;
    margin: 0 0 0 10px;
  }

  .footer-left {
    .front-page & {
      float: left;
      width: calc(100% - 150px)!important;
      padding-top: 0;
    }
  }

  .light-background .custom-btn:hover a {
    color: $white;
  }

}
