.content-item-box {
  color: rgba(0, 0, 0, 0.8);
}
.item-list-page .content-item-box {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 320px) {
  .item-list-page .content-item-box {
    display: block;
  }
}
@media screen and (min-width: 321px) {
  .item-list-page .content-item-box {
    display: inline-block;
    vertical-align: top;
  }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
  .item-list-page .content-item-box {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media screen and (min-width: 769px) {
  .item-list-page .content-item-box {
    width: 33.3%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.blog-article-page .content-item-box {
  padding-bottom: 30px;
}
.content-illustrations .content-item-box {
  margin-bottom: 40px;
}
.content-item-box .top-inner {
  opacity: 1;
}
.editmode .content-item-box .top-inner::after, .item-list-page .content-item-box .top-inner::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: white;
  content: '';
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
.editmode .content-item-box:hover .top-inner::after, .item-list-page .content-item-box:hover .top-inner::after {
  opacity: .2;
}

.item-top {
  position: relative;
}

.item-top {
  position: relative;
}
.item-top::before {
  display: block;
  width: 100%;
  padding-top: 100%;
  content: '';
}
.item-top > .aspect-ratio-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.item-top:hover .btn,
.item-top:hover .edy-img-drop-area-remove-image {
  opacity: 1;
}
.item-top .btn {
  padding: 0;
  background-color: rgba(0, 102, 187, 0.3);
  border: 0;
  opacity: 0;
  -webkit-transition: background-color .5s, opacity .5s;
  -o-transition: background-color .5s, opacity .5s;
  transition: background-color .5s, opacity .5s;
}
.item-top .btn:hover {
  background-color: #0066bb;
}
.item-top .bg-crop-btn {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 100%;
  color: white;
}
.item-top .bg-crop-btn:focus {
  outline: 0;
}
.item-top .bg-crop-btn.is-visible {
  display: block;
}
.item-top .bg-crop-btn.is-hidden, .without-image .item-top .bg-crop-btn {
  display: none;
}
.item-top .edy-img-drop-area-remove-image {
  height: 45px;
  width: 45px;
  top: 10px;
  right: 10px;
  z-index: 9;
  color: white;
  background-color: rgba(0, 102, 187, 0.3);
  border: 0;
  opacity: 0;
  -webkit-transition: background-color .5s, opacity .5s;
  -o-transition: background-color .5s, opacity .5s;
  transition: background-color .5s, opacity .5s;
}
.item-top .edy-img-drop-area-remove-image:hover {
  background-color: #0066bb;
}
.item-top .edy-img-drop-area-remove-image-ico {
  margin-top: -10px;
  margin-left: -8px;
}
.item-top .top-inner {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}
.public .item-top .top-inner {
  overflow: hidden;
}
.public .item-top .top-inner .image-landscape.not-cropped {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.public .item-top .top-inner .image-landscape.is-cropped {
  width: auto;
  height: 100%;
}
.public .item-top .top-inner .image-portrait.not-cropped {
  width: auto;
  height: 100%;
  max-height: 100%;
}
.public .item-top .top-inner .image-portrait.is-cropped {
  width: 100%;
  height: auto;
}
.public .item-top .top-inner .image-square {
  width: 100%;
  height: auto;
}
.with-image .item-top .top-inner {
  background-color: white;
}
.without-image .item-top .top-inner {
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px;
}
.item-top .top-inner .item-placeholder {
  padding: .5em;
}
.item-top .image-drop-area {
  background-position: center !important;
  background-repeat: no-repeat;
}
.item-top .image-drop-area.not-cropped {
  background-size: contain;
}
.item-top .image-drop-area:not(.active) {
  border-color: rgba(0, 0, 0, 0.4);
  border-style: dashed;
  border-width: 1px;
}
.item-top .image-drop-area:not(.active):hover {
  border-style: solid;
}
@media screen and (max-width: 640px) {
  .item-top .image-drop-area .edy-img-drop-area-placeholder {
    font-size: 13px;
  }
}
@media screen and (min-width: 641px) {
  .item-top .image-drop-area .edy-img-drop-area-placeholder {
    font-size: 16px;
  }
}

.item-title {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0;
}
.item-title .item-link {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}
.item-title .item-link:hover {
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-decoration: underline !important;
}
.content-item-box > .item-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

.content-item-title h1 {
  font-size: 20px !important;
  line-height: 1.4 !important;
  font-weight: 600 !important;
}

.item-page .content-header {
  margin-bottom: 20px;
}
.item-page .content-area {
  font-size: 16px;
}

html,
body, form, h1,
h2,
h3, ul,
ol, ul li,
ol li, .lang-menu-btn {
  margin: 0;
  padding: 0;
}

.lang-menu-btn {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}
.lang-menu-btn:focus {
  outline: none;
}
.lang-menu-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}

html,
body {
  height: 100% !important;
  min-height: 100%;
  font: 18px/1.67 "Lato", sans-serif;
}
@media screen and (min-width: 1500px) {
  html,
  body {
    font-size: 20px;
  }
}

body {
  position: relative;
  min-width: 1024px;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  background: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
  color: #0066bb;
}
a:not(.post-nav-link):hover {
  color: #0066bb;
  color: rgba(0, 102, 187, 0.85);
}

.cfx {
  zoom: 1;
  min-height: 1px;
}
.cfx:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  content: '.';
}

img {
  border: none;
}

h1,
h2,
h3 {
  color: black;
  font: normal 30px/1.1 "Lato", sans-serif;
}
.dark-background h1, .dark-background
h2, .dark-background
h3 {
  color: white;
}
.dark-background h1 .placeholder, .dark-background
h2 .placeholder, .dark-background
h3 .placeholder {
  color: white;
  opacity: .5;
}

h1 {
  margin-bottom: 0.66667em;
}

h2 {
  font-size: 24px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.83333em;
  margin-top: 1.25em;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1.11111em;
  margin-top: 1.66667em;
}

p {
  margin: 20px 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

input[type=submit],
input[type=text],
textarea {
  border-radius: 0;
  -webkit-appearance: none;
}

.formatted pre, .formatted
code, .formatted
iframe, .formatted
table, .formatted
form {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  word-break: normal;
  word-wrap: normal;
}

pre {
  font-size: 14px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.3);
}
.light-background pre {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2);
}

pre {
  overflow: auto;
  padding: 10px;
}
pre code {
  display: inline;
  padding: 0;
  line-height: inherit;
  white-space: pre;
  background-color: transparent;
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: normal;
}

code {
  display: inline-block;
  padding: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

blockquote {
  margin: 20px 40px;
}
.front-page blockquote {
  text-align: left;
}

.font-size-small {
  font: 18px/1.67 "Lato", sans-serif !important;
}
@media screen and (min-width: 1500px) {
  .font-size-small {
    font-size: 20px !important;
  }
}

/* select */
.jq-select {
  position: relative;
  font: 18px/1.67 "Lato", sans-serif;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.87);
  background: white;
}
.jq-select select {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 18px/1.67 "Lato", sans-serif;
  cursor: pointer;
  opacity: 0;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  -webkit-appearance: none;
  filter: alpha(opacity=0);
  -moz-opacity: .0;
}

.jq-select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  border-left: 3px solid #f6f6f6;
  background: white;
}
.jq-select-arrow:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  margin-left: -6px;
  content: ' ';
  pointer-events: none;
  border: solid transparent;
  border-width: 6px;
  border-top-color: rgba(0, 0, 0, 0.87);
}

.jq-select-content {
  position: relative;
  z-index: 5;
  padding: 4px 38px 4px 5px;
  padding-right: 48px;
}

.jq-select-inner {
  overflow: hidden;
  white-space: nowrap;
}

/* form */
.form_field {
  padding-top: 10px;
  padding-bottom: 10px;
}
.form_field:first-child {
  padding-top: 0;
}
.form_field:last-child {
  padding-bottom: 0;
}

.edy-fe-label,
.form_field_label {
  display: block;
  padding-bottom: 5px;
}

.form_field label {
  display: block;
}

.form_field_textfield,
.form_field_textarea {
  width: 30%;
  padding: 4px 5px;
  font: 18px/1.67 "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  outline: none;
  background: white;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.light-background .form_field_textfield, .light-background
.form_field_textarea {
  background: #eee;
}

.form_field_textfield,
.form_field_textarea,
.form_field_select,
.form_field .jq-select {
  width: 30%;
}

.form_field_size_large {
  width: 100% !important;
}

.form_field_size_medium {
  width: 60% !important;
}

.form_field_size_small {
  width: 30% !important;
}

.form_error,
.form_notice {
  padding: 0;
  padding: 0 0 20px;
  font-weight: bold;
}

.form_error {
  color: #c70909;
}

.form_notice {
  color: #409e13;
}

.form_field_error {
  display: none;
  color: #c70909;
}

.form_field_with_errors input,
.form_field_with_errors textarea {
  background-color: #c70909;
  background-color: rgba(199, 9, 9, 0.2);
}

.form_submit input,
.submit {
  border-radius: 0;
  -webkit-appearance: none;
  background: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 5px 0;
  max-width: 100%;
  min-width: 180px;
  outline: 0;
  padding: 0.61em 0.55em;
  text-align: center;
  text-transform: uppercase;
}
.dark-background .formatted .form_submit input, .dark-background .formatted
.submit {
  border: 2px solid;
  color: white;
}
.dark-background .formatted .form_submit input:hover, .dark-background .formatted
.submit:hover {
  background: #2b2b2b;
  border: 2px solid;
  color: white;
}
.light-background .formatted .form_submit input, .light-background .formatted
.submit {
  border: 2px solid;
  color: black;
}
.light-background .formatted .form_submit input:hover, .light-background .formatted
.submit:hover {
  background: #2b2b2b;
  border: 2px solid;
  color: white;
}

.form_field_required .form_field_label:after {
  content: '*';
}

/* custom checkboxes and radio buttons */
label {
  cursor: pointer;
}
label:before {
  display: none;
  content: url("../images/check.png?1");
}
label .form_field_checkbox,
label .form_field_radio {
  display: none;
  display: inline-block\9;
}
label .form_field_checkbox + .form_control_indicator:before {
  background: white;
}
label .form_field_checkbox:checked + .form_control_indicator:before {
  width: 100%;
  height: 100%;
  background: url("../images/check_small.png?1") no-repeat left bottom;
}
.backgroundsize label .form_field_checkbox:checked + .form_control_indicator:before {
  width: 100%;
  height: 100%;
  background: url("../images/check.png?1") no-repeat left bottom;
  background-size: 17px 18px;
}
label .form_field_radio + .form_control_indicator:before {
  width: 9px;
  height: 9px;
  border: 3px solid white;
}
label .form_field_radio:checked + .form_control_indicator:before {
  background-color: rgba(0, 0, 0, 0.87);
}
label .form_control_indicator {
  position: relative;
  display: inline-block;
  display: none\9;
  width: 18px;
  height: 18px;
  margin-right: 7px;
  vertical-align: 0;
}
label .form_control_indicator:before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  content: '';
}

/* layout */
.wrap {
  height: 100%;
  min-height: 100%;
}

.topbar {
  display: none;
  width: 100%;
  background: white;
  position: relative;
  z-index: 6;
}

.sidebar {
  -webkit-box-shadow: 5px -50px 50px rgba(0, 0, 0, 0.05) ;
  box-shadow: 5px -50px 50px rgba(0, 0, 0, 0.05) ;
  float: left;
  min-height: 100%;
  position: relative;
  width: 200px;
  z-index: 5;
}
@media screen and (min-width: 1500px) {
  .sidebar {
    width: 20%;
  }
}
.sidebar .sidebar-inner {
  padding: 45px 30px 100px;
}

.main {
  background: #f6f6f6;
  margin-left: 200px;
  position: relative;
}
.main .footer-left {
  padding-top: 20px;
}
@media screen and (min-width: 600px) {
  .editmode .main {
    padding-bottom: 40px;
  }
}
.edy-bar-open .main {
  padding-bottom: 125px;
}
@media screen and (min-width: 641px) {
  .edy-bar-open .main {
    padding-bottom: 150px;
  }
}
@media screen and (max-width: 599px) {
  .main {
    height: auto !important;
  }
}
@media screen and (min-width: 1500px) {
  .main {
    margin-left: 20%;
  }
}

.main-inner {
  position: relative;
}
.front-page .main-inner {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.front-page .main-inner h1 {
  font-size: 36px;
}
.front-page .main-inner h2 {
  font-size: 30px;
}
.front-page .main-inner h3 {
  font-size: 26.4px;
}

.inner.main-inner {
  width: auto !important;
}
@media screen and (min-width: 1500px) {
  .inner {
    width: 75%;
  }
}

.container-wrap {
  position: relative;
  z-index: 4;
}

.container {
  float: left;
  width: 100%;
  position: relative;
}

.site-title {
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 32px;
  vertical-align: top;
  text-transform: uppercase;
  color: black;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}
@media screen and (min-width: 1024px) {
  .site-title {
    min-height: calc(31vh - 85px);
  }
}
.site-title a {
  color: black;
}
.topbar .site-title {
  min-height: 40px;
  margin-right: 80px;
  padding: 27px 0 23px 30px;
}
.topbar .site-title .edy-positionable-container-maxwidth {
  max-width: 200px !important;
  float: left;
}

/* mainmenu */
.main-menu {
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}
.main-menu li {
  padding: 6px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.main-menu li.is-hidden {
  display: none;
}
.main-menu a {
  color: black;
  opacity: .36;
}
.main-menu a:hover, .main-menu a.active {
  color: black;
  opacity: 1;
}

/* submenu */
.sub-menu {
  min-height: 35px;
  padding: 30px 50px 15px 50px;
  font: 14px/1.1 "Lato", sans-serif;
  text-align: right;
  word-wrap: break-word;
}
.sub-menu li {
  display: inline-block;
  padding-left: 20px;
}
.sub-menu a {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 11px;
  white-space: nowrap;
  color: black;
  opacity: .36;
}
.dark-background .sub-menu a {
  color: white;
  opacity: .42;
}
.dark-background .sub-menu a:hover {
  color: white;
  opacity: 1;
}
.sub-menu a:hover {
  color: black;
}
.sub-menu a.active {
  margin-bottom: 4px;
  padding-bottom: 4px;
  color: black;
  border-bottom: 3px solid rgba(0, 0, 0, 0.87);
}
.sub-menu a.edy-cbtn {
  padding: 0;
}

/* flags */
.lang-flag:before, .lang-flag:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 21px;
  height: 15px;
  content: '';
}
.flags-disabled .lang-flag:before, .flags-disabled .lang-flag:after {
  display: none;
}
.lang-flag:after {
  background-position: -189px -60px;
}

.lang-flag:before {
  background-color: black;
}

.lang-flag:after {
  opacity: .95;
  background-repeat: no-repeat;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 9px;
  color: rgba(27, 33, 36, 0.7);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  background-position: 0 -75px;
  content: attr(data-lang-code);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.no-boxshadow .lang-flag:after {
  border: 1px solid #eeeeee;
}
.backgroundsize.svg .lang-flag:after {
  background-image: url("../assets/ico-flags.svg");
}
.lang-flag:after .no-svg {
  background-image: url("../images/ico-flags.png");
}

.lang-flag-sq:after {
  background-position: 0 0;
  content: '';
}

.lang-flag-hy:after {
  background-position: -21px 0;
  content: '';
}

.lang-flag-bn:after {
  background-position: -42px 0;
  content: '';
}

.lang-flag-bg:after {
  background-position: -84px 0;
  content: '';
}

.lang-flag-zh:after {
  background-position: -105px 0;
  content: '';
}

.lang-flag-hr:after {
  background-position: -126px 0;
  content: '';
}

.lang-flag-da:after {
  background-position: -147px 0;
  content: '';
}

.lang-flag-cs:after {
  background-position: -168px 0;
  content: '';
}

.lang-flag-et:after {
  background-position: -189px 0;
  content: '';
}

.lang-flag-fi:after {
  background-position: 0 -15px;
  content: '';
}

.lang-flag-fr:after {
  background-position: -21px -15px;
  content: '';
}

.lang-flag-ka:after {
  background-position: -42px -15px;
  content: '';
}

.lang-flag-de:after {
  background-position: -63px -15px;
  content: '';
}

.lang-flag-el:after {
  background-position: -84px -15px;
  content: '';
}

.lang-flag-hu:after {
  background-position: -105px -15px;
  content: '';
}

.lang-flag-is:after {
  background-position: -126px -15px;
  content: '';
}

.lang-flag-hi:after {
  background-position: -147px -15px;
  content: '';
}

.lang-flag-id:after {
  background-position: -168px -15px;
  content: '';
}

.lang-flag-fa:after {
  background-position: -189px -15px;
  content: '';
}

.lang-flag-he:after {
  background-position: 0 -30px;
  content: '';
}

.lang-flag-it:after {
  background-position: -21px -30px;
  content: '';
}

.lang-flag-ja:after {
  background-position: -42px -30px;
  content: '';
}

.lang-flag-ko:after {
  background-position: -63px -30px;
  content: '';
}

.lang-flag-lv:after {
  background-position: -84px -30px;
  content: '';
}

.lang-flag-lt:after {
  background-position: -105px -30px;
  content: '';
}

.lang-flag-ms:after {
  background-position: -126px -30px;
  content: '';
}

.lang-flag-nl:after {
  background-position: -147px -30px;
  content: '';
}

.lang-flag-no:after {
  background-position: -168px -30px;
  content: '';
}

.lang-flag-ur:after {
  background-position: -189px -30px;
  content: '';
}

.lang-flag-fil:after {
  background-position: 0 -45px;
  content: '';
}

.lang-flag-pl:after {
  background-position: -21px -45px;
  content: '';
}

.lang-flag-ro:after {
  background-position: -42px -45px;
  content: '';
}

.lang-flag-ru:after {
  background-position: -63px -45px;
  content: '';
}

.lang-flag-ar:after {
  background-position: -84px -45px;
  content: '';
}

.lang-flag-sk:after {
  background-position: -105px -45px;
  content: '';
}

.lang-flag-sl:after {
  background-position: -126px -45px;
  content: '';
}

.lang-flag-es:after {
  background-position: -147px -45px;
  content: '';
}

.lang-flag-sv:after {
  background-position: -168px -45px;
  content: '';
}

.lang-flag-tr:after {
  background-position: -189px -45px;
  content: '';
}

.lang-flag-uk:after {
  background-position: 0 -60px;
  content: '';
}

.lang-flag-en:after {
  background-position: -21px -60px;
  content: '';
}

.lang-flag-pt:after {
  background-position: -84px -60px;
  content: '';
}

.lang-flag-sr:after {
  background-position: -126px -60px;
  content: '';
}

.lang-flag-bn:after {
  background-position: -147px -60px;
  content: '';
}

.lang-flag-th:after {
  background-position: -189px -60px;
  content: '';
}

.lang-options {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.09);
}
.lang-options .menu .menu-item {
  padding: 7px 12px;
  font-size: 13px;
}
@media screen and (max-width: 1024px) {
  .lang-options .menu .menu-item {
    text-align: right;
  }
}
@media screen and (max-width: 600px) {
  .lang-options {
    background-color: transparent;
  }
  #mobile-menu .lang-options .menu {
    display: block;
    padding: 0;
  }
  .lang-options .menu .menu-item {
    color: white;
    color: rgba(255, 255, 255, 0.5);
  }
}

.option-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: #0066bb;
}
.option-btn:hover {
  color: #0066bb;
  color: rgba(0, 102, 187, 0.8);
}
.option-btn::-moz-focus-inner {
  padding: 0;
  border: none;
}
.option-btn:focus {
  outline: none;
}
.flags-disabled .option-btn .disable-text {
  display: none;
}
.flags-enabled .option-btn .enable-text {
  display: none;
}
.option-btn .disable-text:first-letter,
.option-btn .enable-text:first-letter {
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .option-btn {
    color: white;
  }
  .option-btn:hover {
    color: white;
    color: rgba(255, 255, 255, 0.8);
  }
}

/* langmenu */
.lang-menu {
  position: absolute;
  z-index: 200;
  top: 30px;
  left: 30px;
  height: 13px;
}
.edy-checkout-button-visible .lang-menu {
  top: 71px;
}
.lang-menu li {
  display: block;
  font-size: 12px;
  text-align: left;
}
.lang-menu li.add-lang-btn {
  padding: 5px 0 4px 10px;
}
@media screen and (max-width: 1024px) {
  .lang-menu li.add-lang-btn {
    padding: 5px 10px 4px 0;
    text-align: right;
  }
}
.lang-menu a.lang-flag {
  position: relative;
  display: block;
  padding: 6px 13px 5px 40px;
  color: #1b2124;
  color: rgba(27, 33, 36, 0.7);
}
.lang-menu a.lang-flag:before, .lang-menu a.lang-flag:after {
  top: 4px;
  left: 12px;
}
.lang-menu a.lang-flag.active, .lang-menu a.lang-flag:hover {
  background-color: #cccccc;
}
.lang-menu a.lang-flag:hover {
  background-color: #cccccc;
  background-color: rgba(204, 204, 204, 0.5);
}
@media screen and (max-width: 1024px) {
  .lang-menu a.lang-flag {
    padding: 6px 40px 5px 13px;
    text-align: right;
  }
  .lang-menu a.lang-flag:before, .lang-menu a.lang-flag:after {
    left: auto;
    right: 12px;
  }
}
.lang-menu a.edy-menu-langadd {
  display: inline-block;
  padding: 5px;
}
.lang-menu.flags-disabled a.lang-flag {
  padding: 6px 13px 5px;
}

.lang-menu-btn {
  position: relative;
  display: block;
  height: 15px;
  font-family: inherit;
  font-size: 12px;
  cursor: pointer;
  vertical-align: middle;
  border: none;
  background: none;
}
.flags-enabled .lang-menu-btn {
  width: 21px;
}
.flags-enabled .lang-menu-btn .lang-title {
  display: none;
}
.lang-menu-btn .lang-flag:before, .lang-menu-btn .lang-flag:after {
  top: 0;
  left: 0;
}
.lang-menu-btn .ico-popover-toggle {
  position: relative;
  top: -1px;
  display: inline-block;
  font-size: 7.2px;
}
.flags-enabled .lang-menu-btn .ico-popover-toggle {
  display: none;
}

.lang-menu-popover {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -12px;
  display: none;
  min-width: 122px;
  padding: 5px 0;
  line-height: 1;
  text-align: left;
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) ;
}
.no-boxshadow .lang-menu-popover {
  border: 1px solid #eeeeee;
}
.editmode .lang-menu-popover {
  padding-bottom: 0;
}

/* content */
.content {
  position: relative;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  padding: 65px 20px;
}
@media screen and (min-width: 600px) {
  .content {
    padding: 65px 50px;
  }
}

.content-inner {
  position: relative;
  font-family: "Lato", sans-serif;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}
@media screen and (max-width: 1023px) {
  .content-inner {
    display: inline-block;
    width: 100%;
  }
}
.header-row .content-inner {
  font-size: 24px;
  line-height: 32px;
}
.footer-row .content-inner {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  padding: 4px 0;
}
.content-inner .header-row, .center-row .content-inner {
  min-height: 100px;
}
.content-inner .inner-bottom {
  display: inline-block;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.formatted:empty {
  display: none;
}
.formatted h1:first-child,
.formatted h2:first-child,
.formatted h3:first-child,
.formatted h4:first-child,
.formatted h5:first-child,
.formatted h6:first-child,
.formatted p:first-child,
.formatted ul:first-child,
.formatted ol:first-child,
.formatted dl:first-child,
.formatted table:first-child,
.formatted pre:first-child,
.formatted code:first-child,
.formatted iframe:first-child,
.formatted table:first-child,
.formatted form:first-child,
.formatted .table-container:first-child,
.formatted .edy-positionable-container-left-block:first-child,
.formatted .edy-positionable-container-center-block:first-child,
.formatted .edy-positionable-container-right-block:first-child,
.formatted .edy-texteditor-container-wrapper-left-block:first-child,
.formatted .edy-texteditor-container-wrapper-center:first-child,
.formatted .edy-texteditor-container-wrapper-right-block:first-child,
.formatted .edy-positionable-container-maxwidth:first-child {
  margin-top: 0;
}
.formatted h1:last-child,
.formatted h2:last-child,
.formatted h3:last-child,
.formatted h4:last-child,
.formatted h5:last-child,
.formatted h6:last-child,
.formatted p:last-child,
.formatted ul:last-child,
.formatted ol:last-child,
.formatted dl:last-child,
.formatted table:last-child,
.formatted pre:last-child,
.formatted code:last-child,
.formatted iframe:last-child,
.formatted table:last-child,
.formatted form:last-child,
.formatted .table-container:last-child,
.formatted .edy-positionable-container-left-block:last-child,
.formatted .edy-positionable-container-center-block:last-child,
.formatted .edy-positionable-container-right-block:last-child,
.formatted .edy-texteditor-container-wrapper-left-block:last-child,
.formatted .edy-texteditor-container-wrapper-center:last-child,
.formatted .edy-texteditor-container-wrapper-right-block:last-child,
.formatted .edy-positionable-container-maxwidth:last-child {
  margin-bottom: 0;
}
.formatted ul,
.formatted ol {
  margin: 15px 0;
  padding-left: 35px;
  list-style-type: disc;
}
.formatted ol {
  list-style-type: decimal;
}
.formatted li {
  padding-left: 3px;
}
.formatted form {
  padding: 20px 0;
}
.formatted form,
.formatted .form_fields {
  text-align: left;
}
.formatted .edy-positionable-container-center,
.formatted .edy-positionable-container-left-block,
.formatted .edy-positionable-container-right-block,
.formatted .edy-texteditor-container-wrapper-center,
.formatted .edy-texteditor-container-wrapper-left-block,
.formatted .edy-texteditor-container-wrapper-right-block {
  margin-top: 20px;
  margin-bottom: 20px;
}
.formatted .edy-positionable-container-left,
.formatted .edy-positionable-container-right {
  width: 45%;
}
.formatted .edy-positionable-container-left,
.formatted .edy-texteditor-container-wrapper-left {
  margin-right: 2em;
}
.formatted .edy-positionable-container-right,
.formatted .edy-texteditor-container-wrapper-right {
  margin-left: 2em;
}
.formatted .edy-image-container-with-title:after {
  display: block;
  padding: 4px;
  font-size: 16px;
  line-height: 1.3em;
  content: attr(data-title);
}

/* articles */
.blog-content h1 {
  margin: 0;
  padding: 0;
}

.blog-list .post-wrap {
  border-top: 2px solid white;
}
.blog-list .post {
  padding: 30px 30px;
}
.blog-list .post-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.1;
  word-wrap: break-word;
}
.blog-list .post-title a {
  color: black;
}
.blog-list .post-title a:hover {
  color: black;
  opacity: .75;
}

.post-header {
  padding: 0 30px 0;
}

.post-date {
  display: inline;
  color: black;
  opacity: .36;
}

.post-content {
  padding: 0 30px 60px;
  word-wrap: break-word;
}

.post-body {
  padding: 20px 0 0;
}

.post-tags {
  padding: 20px 0 0;
}

.tbl {
  display: table;
  visibility: hidden;
  width: 100%;
  border-collapse: collapse;
}
.tbl .tbl-row {
  display: table-row;
}
.tbl .tbl-cell {
  display: table-cell;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.post-nav {
  padding-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .post-nav {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 601px) {
  .post-nav {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (min-width: 601px) {
  .post-nav-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.post-nav-link {
  position: relative;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: currentColor;
}
.post-nav-link:hover .post-nav-direction {
  opacity: 1;
}
.post-nav-link:hover .post-nav-title {
  opacity: 1;
}
@media screen and (max-width: 600px) {
  .post-nav-link:nth-child(2)::before {
    position: absolute;
    top: 0;
    right: -30px;
    left: -30px;
    display: block;
    height: 2px;
    background-color: white;
    content: '';
  }
}

@media screen and (min-width: 601px) {
  .post-nav-link-older {
    padding-right: 20px;
  }
}

@media screen and (min-width: 601px) {
  .post-nav-link-newer {
    padding-left: 20px;
    text-align: right;
  }
}

.post-nav-direction {
  font-size: 13px;
  letter-spacing: .2em;
  text-transform: uppercase;
  opacity: .3;
}

.post-nav-title {
  margin-top: 6px;
  font-size: 18px;
  opacity: .7;
}

/* comments */
.comments {
  position: relative;
  padding: 0 30px 30px;
}
.comments:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 250px;
  height: 2px;
  content: '';
  background: white;
}
.comments h3 {
  margin: 0;
  padding: 45px 0 20px;
}

.comment-form {
  position: relative;
  min-height: 30px;
  padding-bottom: 10px;
}
.comment-form form {
  padding-top: 0;
}
.comment-form .comment-form-focus-input {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}
.comment-form .form_area {
  display: none;
}
.comment-form .form_field {
  padding-bottom: 10px;
}
.comment-form .comment-name-field,
.comment-form .comment-email-field {
  float: left;
  width: 250px;
}
.comment-form .comment-name-field input,
.comment-form .comment-email-field input {
  width: 100% !important;
  border-bottom: 1px solid #cecece;
  background: none;
}
.comment-form .comment-name-field {
  margin-right: 20px;
}
.comment-form .submit-holder {
  padding-top: 20px;
}
.comment-form .form_field_with_errors .form_field_textfield {
  border-bottom: 1px solid #c70909;
  border-bottom: 1px solid rgba(199, 9, 9, 0.3);
  color: #c70909;
  color: rgba(199, 9, 9, 0.8);
}
.comment-form.form_with_errors .comment-form-focus-input {
  display: none;
}
.comment-form.form_with_errors .form_area {
  display: block;
}

.comment {
  padding-top: 20px;
  word-wrap: break-word;
}
.comment .comment-info {
  color: black;
  font-size: 14px;
  opacity: .36;
}
.comment .comment-info .edy-site-btn-removecomment {
  vertical-align: -1px;
}

/* table */
.table-holder {
  overflow: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}
table td,
table th {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-color: rgba(0, 0, 0, 0.32);
}
table th {
  font-weight: bold;
}

/* mobile-menu */
.mobile-menu-toggler,
#mobile-menu,
.mobile-menu-toggler,
#mobile-search {
  display: none;
}

/* footer */
.footer {
  position: absolute;
  z-index: 6;
  background: white;
  right: 100%;
  bottom: 0;
  width: 200px;
  font-size: 11px;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}
.footer .footer-inner {
  padding: 20px 30px;
}
@media screen and (min-width: 1500px) {
  .footer {
    width: 25%;
  }
}
.editmode .footer {
  padding-bottom: 40px;
}
@media screen and (min-width: 600px) {
  .edy-bar-open .footer {
    padding-bottom: 150px;
  }
}

.front-page footer {
  display: none;
}

@media screen and (min-width: 601px) {
  .front-page footer {
    display: block;
  }
}
/* Voog reference */
footer .voog-reference {
  padding-top: 20px;
}
.voog-reference a {
  color: #acacac;
}
.voog-reference svg {
  height: 9px;
  width: 35px;
}
.dark-background .voog-reference svg path {
  fill: white;
}
.light-background .voog-reference svg path {
  fill: black;
  opacity: .36;
}
footer .voog-reference svg path {
  fill: black;
  opacity: .36;
}
.front-page .voog-reference {
  display: block;
}
@media screen and (min-width: 600px) {
  .footer-row .voog-reference {
    display: none;
  }
}

/* other */
.edy-gallery-area,
.edys-gallery-area {
  padding: 20px 0;
  clear: both;
}

.front-page .edys-gallery-area, .front-page
.edy-gallery-area {
  font-size: 0;
}
.front-page .edys-gallery-area .edys-gallery-item, .front-page
.edy-gallery-area .edys-gallery-item {
  display: inline-block;
}

.edy-gallery-image,
.edys-gallery-item {
  border-radius: 96px;
}

.js-bgpicker-cover-image {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.js-bgpicker-cover-color {
  position: relative;
  z-index: 1;
  color: white;
  background: rgba(0, 0, 0, 0.2);
}

.front-page .footer-row .edy-empty-bordered {
  padding: 6px;
}

.rgba .js-bgpicker-cover-color {
  display: block;
}

.js-bgpicker-cover-settings {
  left: 0;
}

.untranslated {
  zoom: 1;
  opacity: .5;
  filter: alpha(Opacity=50);
}

/* search */
.search {
  position: relative;
  padding-bottom: 0;
}
.search .search-box {
  position: relative;
  overflow: hidden;
  padding: 0 40px 0 10px;
  background: #f6f6f6;
}
.search .search-box.search-box-focus {
  background-color: #f9ec5a;
}
#mobile-search .search .search-box {
  padding-right: 50px;
  padding-left: 20px;
}
.search .search-input {
  width: 100%;
  margin: 0;
  padding: 4px 0;
  font: 14px/22px "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  outline: 0;
  background: none;
}
.search .search-input::-ms-clear {
  display: none;
}
.search .search-input::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.2);
}
.search .search-input:-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.2);
}
.search .search-input::-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.2);
}
.search .search-input:-ms-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.2);
}
#mobile-search .search .search-input {
  padding: 10px 0;
  font-size: 16px;
}
.search .search-close {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: url("../images/search-close.png") no-repeat center center;
}
.voog-search-visible .search .search-close {
  display: block;
}
.search:after {
  position: absolute;
  top: -2px;
  right: -30px;
  display: none;
  width: 0;
  height: 0;
  content: ' ';
  pointer-events: none;
  border: solid transparent;
  border-width: 18px;
  border-color: rgba(229, 229, 229, 0);
  border-right-color: #f6f6f6;
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .search:after {
    right: -20px;
  }
}
.voog-search-visible .search:after {
  display: block;
}
#mobile-search .search:after {
  display: none;
}
.search .search-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: .5;
  border: none;
  outline: 0;
  background: url("../images/search.png") no-repeat center center;
  background-size: 16px 16px;
}
.svg .search .search-submit {
  background-image: url("../assets/search.svg");
}

/* search-container */
.voog-search-container {
  position: fixed;
  z-index: -1;
  top: 0;
  display: block;
  overflow: hidden;
  width: 0;
  height: 100%;
  margin-left: 200px;
  -webkit-transition: opacity .1s ease-in, width .3s ease-in;
  -o-transition: opacity .1s ease-in, width .3s ease-in;
  transition: opacity .1s ease-in, width .3s ease-in;
  opacity: 0;
  background: #f6f6f6;
}
.edy-checkout-button-visible .voog-search-container {
  top: 41px;
}
@media screen and (min-width: 1500px) {
  .voog-search-container {
    margin-left: 20%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  .voog-search-container {
    top: 90px;
    margin-left: 200px;
  }
}
#mobile-search .voog-search-container {
  position: static;
  top: auto;
  width: 100%;
  margin-left: 0 !important;
}
.voog-mobile-search-visible #mobile-search .voog-search-container {
  z-index: 1000;
  display: block;
  opacity: 1;
}
.voog-search-visible .voog-search-container {
  z-index: 1000;
  display: block;
  width: 300px;
  opacity: 1;
  -webkit-box-shadow: 10px 0 10px rgba(0, 0, 0, 0.05) ;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.05) ;
}

.voog-search-inner {
  overflow: auto;
  width: 300px;
  height: 100%;
}
#mobile-search .voog-search-inner {
  width: auto;
}

.voog-search-loader {
  display: block;
  height: 100%;
}
.svg .voog-search-loader {
  background: url("../assets/loader.svg") no-repeat center center;
}

.voog-search-results {
  display: none;
  padding: 20px 0;
}
#mobile-search .voog-search-results {
  padding: 10px 0;
}

.voog-search-noresults {
  display: none;
  width: 100%;
  height: 100%;
  height: 100%;
}
.voog-search-noresults div {
  display: table-cell;
  padding: 40px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.36);
}
.voog-search-noresults.voog-search-noresults-visible {
  display: table;
}

.voog-search-result {
  padding: 12px 18px;
  font-size: 14px;
  line-height: 1.5;
}
.voog-search-result .voog-search-result-title {
  margin: 0;
  padding: 0 0 12px;
  font-size: 16px;
}
.voog-search-result .voog-search-result-link {
  color: rgba(0, 0, 0, 0.87);
}
.voog-search-result .voog-search-result-link:hover {
  color: black;
  color: rgba(0, 0, 0, 0.8);
}
.voog-search-result .voog-search-result-content {
  margin: 0;
  padding: 0;
}
.voog-search-result em {
  font-style: normal;
  background: #f9ec5a;
}

@media screen and (max-width: 1023px) {
  .site-title br {
    display: none;
  }
}
@media screen and (min-width: 601px) and (max-width: 1023px) {
  body {
    min-width: 0;
  }

  .topbar {
    display: block;
  }
  .topbar .site-title {
    padding-left: 20px;
  }

  .main {
    position: relative;
    margin-left: 200px;
  }

  .sidebar {
    width: 200px;
  }
  .sidebar .sidebar-inner {
    padding-top: 90px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .sidebar .site-title {
    display: none;
  }

  .sub-menu a {
    white-space: normal;
  }

  .main-menu {
    padding-top: 35px;
  }

  .inner {
    width: auto;
  }

  .lang-menu {
    right: 25px;
    left: auto;
  }

  .lang-menu-popover {
    right: -12px;
    left: auto;
  }

  .footer {
    width: 200px;
  }
  .footer .footer-inner {
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  body,
  html {
    font-size: 16px;
    line-height: 1.75;
  }

  .font-size-small {
    font-size: 16px !important;
    line-height: 1.75 !important;
  }

  body {
    min-width: 320px;
    background: white;
  }

  .wrap,
  .wrap-inner,
  .main {
    display: block !important;
  }

  .front-page,
  .front-page .wrap,
  .front-page .main {
    height: 100%;
  }

  .search-form,
  body > .voog-search-container {
    display: none !important;
  }

  .sidebar {
    display: block;
    float: none;
    width: auto;
    max-width: none;
    min-height: 43px;
    padding: 0;
    word-wrap: break-word;
  }
  .sidebar .sidebar-inner {
    padding: 0 !important;
  }

  .lang-menu,
  .main-menu {
    display: none;
  }

  .main {
    width: auto;
    margin: 0;
  }

  .front-page .main-inner {
    font-size: 22px;
    line-height: 32px;
    color: white;
  }
  .front-page .main-inner h1 {
    font-size: 33px;
  }
  .front-page .main-inner h2 {
    font-size: 27.5px;
  }
  .front-page .main-inner h3 {
    font-size: 24.2px;
  }

  .inner {
    width: auto;
  }

  .front-page .container {
    background: none;
  }

  .site-title {
    padding: 13px 50px 12px 20px;
    font-size: 18px;
  }
  .search-enabled .site-title {
    padding-right: 90px;
  }
  .site-title .edy-positionable-container-maxwidth {
    max-width: 200px !important;
    float: left;
  }

  .sub-menu {
    min-height: 0;
    padding: 20px 20px 15px;
    text-align: left;
  }
  .sub-menu li {
    padding-right: 20px;
    padding-left: 0;
  }
  .sub-menu a {
    white-space: normal;
  }

  .js-bgpicker-cover-image,
  .js-bgpicker-cover-color {
    min-height: 0 !important;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field .jq-select {
    width: 100% !important;
  }

  .blog-list .post {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .post-header {
    padding: 0 20px;
  }

  .post-content {
    padding: 0 20px 30px;
  }

  .comments {
    padding: 0 20px 20px;
  }
  .comments h3 {
    padding-top: 30px;
  }
  .comments:before {
    width: 100%;
  }

  .comment-form .comment-name-field,
  .comment-form .comment-email-field {
    float: none;
    width: 100%;
  }
  .comment-form .comment-name-field {
    margin-right: 0;
  }

  .footer {
    position: static;
    bottom: auto;
    left: auto;
    display: block;
    width: auto;
    background: white;
  }
  .footer .footer-inner {
    padding: 20px;
  }

  /* mobile-menu */
  .mobilemenu-open,
  .mobilesearch-open {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
  .mobilemenu-open .wrap,
  .mobilesearch-open .wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .mobile-menu-toggler {
    position: absolute;
    top: calc(50% - 22px);
    right: 0;
    display: block;
    width: 43px;
    height: 43px;
    outline: 0;
  }
  .mobile-menu-toggler span, .mobile-menu-toggler span:before, .mobile-menu-toggler span:after {
    position: absolute;
    top: 14px;
    left: 11px;
    display: block;
    width: 20px;
    height: 3px;
    content: '';
    background: rgba(0, 0, 0, 0.87);
    border-radius: 5px;
  }
  .mobile-menu-toggler span.flags-disabled .language-menu-btn, .mobile-menu-toggler span:before.flags-disabled .language-menu-btn, .mobile-menu-toggler span:after.flags-disabled .language-menu-btn {
    position: static;
    width: auto;
    height: auto;
    background-color: red;
  }
  .mobile-menu-toggler span.flags-disabled .language-menu-btn:before, .mobile-menu-toggler span.flags-disabled .language-menu-btn:after, .mobile-menu-toggler span:before.flags-disabled .language-menu-btn:before, .mobile-menu-toggler span:before.flags-disabled .language-menu-btn:after, .mobile-menu-toggler span:after.flags-disabled .language-menu-btn:before, .mobile-menu-toggler span:after.flags-disabled .language-menu-btn:after {
    display: none;
  }
  .mobile-menu-toggler span.flags-disabled .language-menu-btn .lang-title, .mobile-menu-toggler span:before.flags-disabled .language-menu-btn .lang-title, .mobile-menu-toggler span:after.flags-disabled .language-menu-btn .lang-title {
    display: inline-block;
    position: static;
    color: white;
  }
  .mobile-menu-toggler span:before {
    top: 6px;
    left: 0;
  }
  .mobile-menu-toggler span:after {
    top: 12px;
    left: 0;
  }

  #mobile-menu {
    font-family: "Lato", sans-serif;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    background-color: #2b2b2b;
    background-color: rgba(43, 43, 43, 0.9);
    -webkit-overflow-scrolling: touch;
  }
  .mobilemenu-open #mobile-menu {
    display: block;
  }
  #mobile-menu .mobile-menu-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 42px;
    height: 42px;
    outline: 0;
  }
  #mobile-menu .mobile-menu-close:before, #mobile-menu .mobile-menu-close:after {
    position: absolute;
    top: 19px;
    left: 12px;
    display: block;
    width: 20px;
    height: 3px;
    content: '';
    background: white;
    border-radius: 3px;
  }
  #mobile-menu .mobile-menu-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
  }
  #mobile-menu .mobile-menu-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
  }
  #mobile-menu .language-menu-btn {
    position: absolute;
    top: 14px;
    left: 15px;
    display: block;
    width: 42px;
    height: 42px;
    outline: 0;
  }
  #mobile-menu .language-menu-btn .lang-menu-btn {
    position: absolute;
    top: 14px;
    left: 11px;
  }
}
@media screen and (max-width: 600px) and (max-width: 600px) {
  #mobile-menu .language-menu-btn .lang-menu-btn {
    position: static;
  }
}
@media screen and (max-width: 600px) {
  #mobile-menu.flags-enabled .language-menu-btn .lang-title {
    display: none;
  }
  #mobile-menu.flags-disabled .language-menu-btn {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 11px 9px 17px;
    color: white;
  }
  #mobile-menu.flags-disabled .language-menu-btn:before, #mobile-menu.flags-disabled .language-menu-btn:after {
    display: none;
  }
  #mobile-menu.flags-disabled .language-menu-btn .lang-menu-btn {
    position: static;
  }
  #mobile-menu.flags-disabled .language-menu-btn .lang-title {
    display: inline-block;
    position: static;
    color: white;
  }
  .language-menu-open #mobile-menu .language-menu-btn {
    display: none;
  }
  #mobile-menu .navigation-menu,
  #mobile-menu .language-menu {
    display: table;
    width: 100%;
    height: 100%;
    word-break: break-all;
  }
  #mobile-menu .navigation-menu ul,
  #mobile-menu .language-menu ul {
    display: table-cell;
    height: 100%;
    padding: 50px 30px;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
  }
  #mobile-menu .navigation-menu ul li,
  #mobile-menu .language-menu ul li {
    display: block;
    margin: 0;
    padding: 15px 0;
    text-align: center;
  }
  #mobile-menu .navigation-menu ul a,
  #mobile-menu .language-menu ul a {
    font-size: 24px;
    line-height: 32px;
    color: white;
    color: rgba(255, 255, 255, 0.5);
  }
  #mobile-menu .navigation-menu ul a.active,
  #mobile-menu .language-menu ul a.active {
    color: white;
  }
  .language-menu-open #mobile-menu .navigation-menu {
    display: none;
  }
  #mobile-menu .language-menu {
    display: none;
  }
  .language-menu-open #mobile-menu .language-menu {
    display: table;
  }

  .mobile-search-toggler {
    position: absolute;
    top: calc(50% - 22px);
    right: 43px;
    display: block;
    width: 33px;
    height: 43px;
    outline: 0;
    background: url("../images/search.png") no-repeat center center;
    background-size: 16px 16px;
  }
  .svg .mobile-search-toggler {
    background-image: url("../assets/search.svg");
  }
  .mobilesearch-open .mobile-search-toggler {
    background: none !important;
  }
  .mobilesearch-open .mobile-search-toggler:before, .mobilesearch-open .mobile-search-toggler:after {
    position: absolute;
    top: 20px;
    left: 7px;
    display: block;
    width: 20px;
    height: 3px;
    content: '';
    background: rgba(0, 0, 0, 0.87);
    border-radius: 3px;
  }
  .mobilesearch-open .mobile-search-toggler:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
  }
  .mobilesearch-open .mobile-search-toggler:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
  }

  #mobile-search {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    background: #f6f6f6;
    -webkit-overflow-scrolling: touch;
  }
  .mobilesearch-open #mobile-search {
    display: block;
  }

  #mobile-search-results {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .main-inner-row {
    float: left;
    width: 100%;
  }

  .content-half {
    float: left;
    width: 50%;
  }
}
.inner-padding {
  height: 100%;
  padding: 65px 20px;
  position: relative;
}
@media screen and (min-width: 600px) {
  .inner-padding {
    padding: 65px 50px;
  }
}

.content-full, .content-half {
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.background-color {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dark-background .formatted {
  color: white;
}
.dark-background .formatted h1, .dark-background .formatted h2, .dark-background .formatted h3, .dark-background .formatted h4, .dark-background .formatted p, .dark-background .formatted pre, .dark-background .formatted a, .dark-background .formatted b, .dark-background .formatted input {
  color: white;
}
.dark-background .menu-horizontal li a {
  color: white !important;
  opacity: .7;
}
.dark-background .menu-horizontal li a:hover {
  color: white !important;
  opacity: 1;
}
.dark-background .menu-horizontal li.current a {
  color: white !important;
  opacity: 1;
}
.dark-background .post-title a {
  color: white;
}
.dark-background .post-title a:hover {
  color: rgba(255, 255, 255, 0.75);
}
.dark-background .post-date {
  color: rgba(255, 255, 255, 0.36);
}
.footer-row .dark-background {
  color: rgba(255, 255, 255, 0.6);
}

.light-background .formatted {
  color: rgba(0, 0, 0, 0.5);
}
.light-background .formatted h1, .light-background .formatted h2, .light-background .formatted h3, .light-background .formatted h4, .light-background .formatted p, .light-background .formatted input {
  color: rgba(0, 0, 0, 0.5);
}
.light-background .post-title a {
  color: black;
}
.footer-row .light-background a {
  color: black;
}
.footer-row .light-background b {
  color: rgba(0, 0, 0, 0.5);
}
.footer-row .light-background {
  color: rgba(0, 0, 0, 0.6);
}

.custom-btn {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  max-width: 100%;
  min-width: 180px;
  padding: 0.61em 0.55em;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}
.public .custom-btn {
  cursor: pointer;
}
.dark-background .custom-btn {
  border: 2px solid;
  color: white;
}
.dark-background .custom-btn:not(.custom-btn-disabled):hover {
  background: #2b2b2b;
  border: 2px solid;
  color: white;
}
.light-background .custom-btn {
  border: 2px solid;
  color: black;
}
.light-background .custom-btn:not(.custom-btn-disabled):hover {
  background: #2b2b2b;
  border: 2px solid;
  color: white !important;
}
footer .custom-btn {
  display: none;
}

.public .light-background .custom-btn-disabled {
  cursor: default;
  color: rgba(0, 0, 0, 0.35);
  border-color: rgba(0, 0, 0, 0.35);
}

.public .dark-background .custom-btn-disabled {
  color: rgba(255, 255, 255, 0.35);
  border-color: rgba(255, 255, 255, 0.35);
}

.header-row .content-full {
  min-height: 31vh;
}

.footer-row .inner-padding {
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer-row .custom-btn {
  min-width: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  padding: 0 10px;
  text-transform: none;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}
.footer-row .custom-btn:hover {
  background: #6b6b6b;
}
.footer-row .dark-background .custom-btn:not(.custom-btn-disabled) {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}
.footer-row .light-background .custom-btn:not(.custom-btn-disabled) {
  border: 1px solid #333;
  color: black;
}
.footer-row .light-background .custom-btn:not(.custom-btn-disabled):hover {
  color: white;
}
.footer-row .footer-right {
  float: right;
  width: 140px;
  margin: 0 0 0 10px;
}
.front-page .footer-row .footer-left {
  float: left;
  width: calc(100% - 150px) !important;
  padding-top: 0;
}
.footer-row .light-background .custom-btn:hover a {
  color: white;
}

.svg-spritesheet {
  display: none;
}

.flexbox .page-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@media screen and (min-width: 641px) {
  .content-illustrations {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 520px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 641px) {
  .item-page .content-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.intro-content {
  padding-bottom: 50px;
}

.content-item-boxes {
  font-size: 0;
  line-height: 1.3;
}

@media screen and (min-width: 241px) and (max-width: 640px) {
  .content-item-boxes {
    margin-right: -10px;
    margin-left: -10px;
  }
}
@media screen and (min-width: 641px) {
  .content-item-boxes {
    padding-bottom: 80px;
    margin-right: -15px;
    margin-left: -15px;
  }
}
.items-body {
  margin-bottom: 30px;
}

@media screen and (min-width: 641px) {
  .items-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.loader::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.not-loaded .loader, .is-loaded .loader {
  margin-top: calc((20px / 2) * -1);
  margin-left: calc((20px / 2) * -1);
  border: 1px solid transparent;
  -webkit-animation: rotation .7s infinite linear;
  animation: rotation .7s infinite linear;
}

.not-loaded .loader::before, .is-loaded .loader::before {
  border-top: 1px solid black;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 100%;
}

.not-loaded .loader {
  opacity: 1;
}

.is-loaded .loader {
  opacity: 0;
}

.with-error .loader {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  background-color: rgba(204, 0, 0, 0.7);
  opacity: 1;
}

.with-error .loader::before, .with-error .loader::after {
  position: absolute;
  top: 14px;
  width: 22px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  content: '';
}

.with-error .loader::before {
  left: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.with-error .loader::after {
  right: 4px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-horizontal {
  padding-left: 0 !important;
}
.menu-horizontal .menu-separator {
  opacity: .36;
  font-size: 12px;
}
.menu-horizontal .menu-separator:first-child {
  display: none;
}
.menu-horizontal.menu-breadcrumbs {
  line-height: 16px;
}
.menu-horizontal.menu-breadcrumbs .menu-item {
  padding-left: 0;
}
.menu-horizontal .menu-item {
  display: inline-block;
  font-size: 12px;
}
.menu-horizontal .menu-item a {
  color: rgba(0, 0, 0, 0.35) !important;
}
.menu-horizontal .menu-item a:hover {
  color: black !important;
}
.menu-horizontal .current.menu-item a {
  color: black !important;
}

.item-list-page .menu-breadcrumbs {
  margin: 0;
}

.menu-item-cms {
  margin-left: 10px;
}
.menu-item-cms.float-right {
  float: right;
}

.item-top .edy-img-drop-area-remove-image {
  height: 45px;
  width: 45px;
  top: 10px;
  right: 10px;
  z-index: 9;
  color: white;
  background-color: rgba(0, 102, 187, 0.3);
  border: 0;
  opacity: 0;
  -webkit-transition: background-color .5s, opacity .5s;
  -o-transition: background-color .5s, opacity .5s;
  transition: background-color .5s, opacity .5s;
}
.item-top .edy-img-drop-area-remove-image:hover {
  background-color: #0066bb;
}
.item-top .edy-img-drop-area-remove-image-ico {
  margin-top: -10px;
  margin-left: -8px;
}

.formatted .edy-buy-button-container .form_field label {
  font-size: 16px;
  padding-bottom: 0;
}
.light-background .formatted .edy-buy-button-container .edy-buy-button:not(.custom-btn-disabled) {
  color: #000;
}
.formatted .edy-buy-button-variants .form_field {
  padding-top: 0;
  padding-bottom: 0;
}
.formatted .edy-buy-button-variants .form_field_select {
  width: initial !important;
  outline: 0;
}
.dark-background .formatted .edy-buy-button-variants .form_field_label {
  color: #fff;
}
.light-background .formatted .edy-buy-button-variants .form_field_label {
  color: #000;
}
.light-background .formatted .edy-buy-button-variants .form_field_select {
  border-color: #000;
}

.edy-buy-button-variants .form_field_select {
  border-color: #fff;
  position: relative;
  padding: 6px 25px 6px 7px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  vertical-align: bottom;
  background-image: url(../assets/ico-arrow-white.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
