html, body, form, h1, h2, h3, ul, ol, ul li, ol li, .lang-menu-btn {
  margin: 0;
  padding: 0;
}

html, body {
  font: 18px/1.4 "Lato", "sans-serif";
  height: 100% !important;
}

@media screen and (min-width: 1500px) {
  html, body {
    font-size: 22px;
  }
}
body {
  color: #222222;
  text-align: left;
  background: white;
  min-width: 1024px;
  -webkit-text-size-adjust: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0066bb;
}
a:hover {
  color: #0066bb;
  color: rgba(0, 102, 187, 0.85);
}

.cfx:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0px;
  line-height: 0px;
  visibility: hidden;
}

.cfx {
  zoom: 1;
  min-height: 1px;
}

img {
  border: none;
  max-width: 100%;
  height: auto !important;
}

h1, h2, h3 {
  color: #333333;
  font: normal 36px/1.1 "Montserrat", "sans-serif";
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin: 30px 0 20px;
}

h3 {
  font-size: 18px;
  margin: 30px 0 20px;
  font-weight: bold;
  font-family: "Lato", "sans-serif";
}

p {
  margin: 20px 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

input[type=submit], input[type=text], textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

pre {
  margin-top: 10px;
  margin-bottom: 0;
  overflow: auto;
  white-space: nowrap;
}
pre, pre code {
  padding: 10px;
  font-size: 14px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
}
pre code {
  display: block;
  margin-top: 0;
  padding: 0;
}

blockquote {
  margin: 20px 40px;
}

/* select */
.jq-select {
  position: relative;
  cursor: pointer;
  background: white;
  font: 18px/1.4 "Lato", "sans-serif";
  color: #222222;
}
.jq-select select {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  -moz-opacity: .0;
  opacity: 0;
  filter: alpha(opacity=0);
  font: 18px/1.4 "Lato", "sans-serif";
  color: #222222;
  -webkit-appearance: none;
}

.jq-select-arrow {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  height: 100%;
  width: 30px;
  border-left: 3px solid #e5e5e5;
}
.jq-select-arrow:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #222222;
  border-width: 6px;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -2px;
}

.jq-select-content {
  position: relative;
  z-index: 5;
  padding-right: 48px;
  padding: 4px 38px 4px 5px;
}

.jq-select-inner {
  overflow: hidden;
  white-space: nowrap;
}

/* form */
.edy-fe-field, .form_field {
  padding-bottom: 20px;
}

.edy-fe-label, .form_field_label {
  display: block;
  padding-bottom: 5px;
}

.form_field label {
  display: block;
}

.form_field_textfield, .form_field_textarea {
  background: white;
  outline: none;
  border: none;
  padding: 4px 5px;
  font: 18px/1.4 "Lato", "sans-serif";
  color: #222222;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 30%;
}

.form_field_textfield, .form_field_textarea, .form_field_select, .form_field .jq-select {
  width: 30%;
}

.form_field_size_large {
  width: 100% !important;
}

.form_field_size_medium {
  width: 60% !important;
}

.form_field_size_small {
  width: 30% !important;
}

.form_error, .form_notice {
  font-weight: bold;
  padding: 0px;
  padding: 0 0 20px;
}

.form_error {
  color: #c70909;
}

.form_notice {
  color: #409e13;
}

.form_field_error {
  color: #c70909;
  display: none;
}

.form_field_with_errors input, .form_field_with_errors textarea {
  background-color: #c70909;
  background-color: rgba(199, 9, 9, 0.2);
}

.form_submit input, .submit {
  height: 45px;
  border: 0;
  outline: 0;
  color: white;
  color: rgba(255, 255, 255, 0.5);
  background: #2b2b2b;
  cursor: pointer;
  font: 18px/1.4 "Lato", "sans-serif";
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form_submit input:hover, .submit:hover {
  background-color: #2b2b2b;
  background-color: rgba(43, 43, 43, 0.8);
}

.form_field_required .form_field_label:after {
  content: '*';
}

/* custom checkboxes and radio buttons */
label {
  cursor: pointer;
  /* checkbox-image-preload */
}
label:before {
  content: url("../images/check.png?1");
  display: none;
}
label > input[type=radio], label > input[type=checkbox] {
  display: none;
  display: inline-block\9;
}
label .form_control_indicator {
  display: inline-block;
  display: none\9;
  width: 18px;
  height: 18px;
  vertical-align: 0px;
  margin-right: 7px;
  position: relative;
}
label .form_control_indicator:before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  content: "";
}
label > input[type=checkbox] + .form_control_indicator:before {
  background: white;
}
label > input[type=checkbox]:checked + .form_control_indicator:before {
  height: 100%;
  width: 100%;
  background: url("../images/check_small.png?1") no-repeat left bottom;
}
.backgroundsize label > input[type=checkbox]:checked + .form_control_indicator:before {
  height: 100%;
  width: 100%;
  background: url("../images/check.png?1") no-repeat left bottom;
  background-size: 17px 18px;
}
label > input[type=radio] + .form_control_indicator:before {
  width: 9px;
  height: 9px;
  border: 3px solid white;
}
label > input[type=radio]:checked + .form_control_indicator:before {
  background-color: #222222;
}

/* layout */
.wrap {
  min-height: 100%;
  height: 100%;
}

.topbar {
  background: white;
  height: 90px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.sidebar {
  width: 280px;
  float: left;
  min-height: 100%;
}
@media screen and (min-width: 1500px) {
  .sidebar {
    width: 20%;
  }
}
.sidebar .sidebar-inner {
  padding: 55px 30px 180px 30px;
}
.search-enabled .sidebar .sidebar-inner {
  padding-bottom: 230px;
}

.main {
  background: #e5e5e5;
  margin-left: 280px;
  position: relative;
}
@media screen and (min-width: 1500px) {
  .main {
    margin-left: 20%;
  }
}

.main-inner {
  position: relative;
}
.front-page .main-inner {
  color: white;
  font-size: 36px;
  line-height: 1.05;
  font-family: "Montserrat", "sans-serif";
  text-align: center;
}
.front-page .main-inner h1, .front-page .main-inner h2, .front-page .main-inner h3 {
  color: white;
}

.inner {
  width: 744px;
}
.inner.main-inner {
  width: auto !important;
}
@media screen and (min-width: 1500px) {
  .inner {
    width: 75%;
  }
}

.container-wrap {
  position: relative;
  z-index: 4;
}

.container {
  float: left;
  width: 100%;
}

.site-title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.05;
  vertical-align: top;
  font-family: "Montserrat", "sans-serif";
  color: #222222;
  padding-top: 25px;
  overflow: hidden;
}
.site-title a {
  color: #222222;
}
.topbar .site-title {
  padding: 27px 0 0 30px;
  height: 40px;
  white-space: nowrap;
  margin-right: 80px;
}

/* mainmenu */
.main-menu {
  padding-top: 50px;
}
.main-menu li {
  font-size: 14px;
  line-height: 1.05;
  text-transform: uppercase;
  padding: 7px 0;
}
.main-menu a {
  color: #848484;
}
.main-menu a:hover, .main-menu a.active {
  color: black;
}

/* submenu */
.sub-menu {
  text-align: right;
  padding: 30px 30px 15px 30px;
  min-height: 35px;
  word-wrap: break-word;
  font: 14px/1.1 "Montserrat", "sans-serif";
}
.sub-menu li {
  display: inline-block;
  padding-left: 20px;
}
.sub-menu li.edy-btn {
  vertical-align: middle;
}
.sub-menu a {
  margin-bottom: 11px;
  margin-top: 3px;
  color: #848484;
  display: inline-block;
  white-space: nowrap;
}
.sub-menu a:hover {
  color: #222222;
}
.sub-menu a.active {
  color: #222222;
  border-bottom: 3px solid #222222;
  padding-bottom: 4px;
  margin-bottom: 4px;
}
.sub-menu a.edy-cbtn {
  padding: 0;
}

/* flags */
.lang-flag:before {
  content: "";
  display: block;
  height: 13px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 200px;
  background-repeat: no-repeat;
  background-image: url("../images/ico-flags-small.png?1");
}
.no-boxshadow .lang-flag:before {
  border: 1px solid #eee;
}
.backgroundsize.svg .lang-flag:before {
  background-image: url("../assets/ico-flags.svg?1");
}

.lang-flag-sq:before {
  background-position: 0 0;
}

.lang-flag-hy:before {
  background-position: -20px 0;
}

.lang-flag-bn:before {
  background-position: -40px 0;
}

.lang-flag-pt:before {
  background-position: -60px 0;
}

.lang-flag-bg:before {
  background-position: -80px 0;
}

.lang-flag-zh:before {
  background-position: -100px 0;
}

.lang-flag-hr:before {
  background-position: -120px 0;
}

.lang-flag-da:before {
  background-position: -140px 0;
}

.lang-flag-cs:before {
  background-position: -160px 0;
}

.lang-flag-et:before {
  background-position: -180px 0;
}

.lang-flag-fi:before {
  background-position: 0px -14px;
}

.lang-flag-fr:before {
  background-position: -20px -14px;
}

.lang-flag-ka:before {
  background-position: -40px -14px;
}

.lang-flag-de:before {
  background-position: -60px -14px;
}

.lang-flag-el:before {
  background-position: -80px -14px;
}

.lang-flag-hu:before {
  background-position: -100px -14px;
}

.lang-flag-is:before {
  background-position: -120px -14px;
}

.lang-flag-hi:before {
  background-position: -140px -14px;
}

.lang-flag-id:before {
  background-position: -160px -14px;
}

.lang-flag-fa:before {
  background-position: -180px -14px;
}

.lang-flag-he:before {
  background-position: 0px -28px;
}

.lang-flag-it:before {
  background-position: -20px -28px;
}

.lang-flag-ja:before {
  background-position: -40px -28px;
}

.lang-flag-ko:before {
  background-position: -60px -28px;
}

.lang-flag-lv:before {
  background-position: -80px -28px;
}

.lang-flag-lt:before {
  background-position: -100px -28px;
}

.lang-flag-ms:before {
  background-position: -120px -28px;
}

.lang-flag-nl:before {
  background-position: -140px -28px;
}

.lang-flag-no:before {
  background-position: -160px -28px;
}

.lang-flag-ur:before {
  background-position: -180px -28px;
}

.lang-flag-fil:before {
  background-position: 0px -42px;
}

.lang-flag-pl:before {
  background-position: -20px -42px;
}

.lang-flag-ro:before {
  background-position: -40px -42px;
}

.lang-flag-ru:before {
  background-position: -60px -42px;
}

.lang-flag-ar:before {
  background-position: -80px -42px;
}

.lang-flag-lt:before {
  background-position: -100px -42px;
}

.lang-flag-sk:before {
  background-position: -120px -42px;
}

.lang-flag-es:before {
  background-position: -140px -42px;
}

.lang-flag-sv:before {
  background-position: -160px -42px;
}

.lang-flag-tr:before {
  background-position: -180px -42px;
}

.lang-flag-uk:before {
  background-position: 0px -56px;
}

.lang-flag-en:before {
  background-position: -20px -56px;
}

/* langmenu */
.lang-menu {
  position: absolute;
  top: 38px;
  left: 30px;
  z-index: 200;
  height: 13px;
}
.lang-menu li {
  display: block;
  text-align: left;
  font-size: 12px;
}
.lang-menu li.add-lang-btn {
  padding: 5px 0 5px 10px;
}
.lang-menu a.lang-flag {
  position: relative;
  display: block;
  padding: 5px 13px 5px 40px;
  color: #1b2124;
  color: rgba(27, 33, 36, 0.7);
}
.lang-menu a.lang-flag:before {
  top: 5px;
  left: 12px;
}
.lang-menu a.lang-flag.active, .lang-menu a.lang-flag:hover {
  background-color: #cccccc;
}
.lang-menu a.lang-flag:hover {
  background-color: #cccccc;
  background-color: rgba(204, 204, 204, 0.5);
}
.lang-menu a.edy-menu-langadd {
  padding: 5px;
  display: inline-block;
}

.lang-menu-btn {
  display: block;
  vertical-align: middle;
  font-size: 0;
  position: relative;
  width: 20px;
  height: 13px;
  border: none;
  background: none;
  cursor: pointer;
}
.lang-menu-btn .lang-flag:before {
  top: 0;
  left: 0;
}

.lang-menu-popover {
  position: absolute;
  display: none;
  top: 20px;
  left: -12px;
  line-height: 1;
  padding: 5px 0;
  min-width: 121px;
  background: #fff;
  z-index: 1;
  text-align: left;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) ;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) ;
}
.no-boxshadow .lang-menu-popover {
  border: 1px solid #eee;
}

/* content */
.content {
  padding: 0 30px 30px;
  word-wrap: break-word;
  position: relative;
}
.front-page .content {
  padding: 70px 30px;
}

.formatted ul, .formatted ol {
  list-style-type: disc;
  padding-left: 35px;
  margin: 15px 0;
}
.formatted ol {
  list-style-type: decimal;
}
.formatted li {
  padding-left: 3px;
}

/* articles */
.blog-content h1 {
  margin: 0;
  padding: 0;
}

.blog-list .post-wrap {
  border-top: 2px solid white;
}
.blog-list .post {
  padding: 30px 30px;
}
.blog-list .post-title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.1;
  word-wrap: break-word;
}
.blog-list .post-title a {
  color: black;
}
.blog-list .post-title a:hover {
  color: black;
  color: rgba(0, 0, 0, 0.75);
}

.post-header {
  padding: 0 30px 0;
}

.post-date {
  color: #848484;
  display: inline;
}

.post-content {
  padding: 0 30px 60px;
  word-wrap: break-word;
}

.post-body {
  padding: 20px 0 0;
}

.post-tags {
  padding: 20px 0 0;
}

.tbl {
  display: table;
  width: 100%;
  border-collapse: collapse;
  visibility: hidden;
}
.tbl .tbl-row {
  display: table-row;
}
.tbl .tbl-cell {
  display: table-cell;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

/* comments */
.comments {
  position: relative;
  padding: 0px 30px 30px;
}
.comments:before {
  display: block;
  content: "";
  width: 250px;
  height: 2px;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}
.comments h3 {
  margin: 0;
  padding: 45px 0 20px;
}

.comment-form {
  padding-bottom: 10px;
  min-height: 30px;
  position: relative;
}
.comment-form .comment-form-focus-input {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 10;
}
.comment-form .form_area {
  display: none;
}
.comment-form .form_field {
  padding-bottom: 10px;
}
.comment-form .comment-name-field, .comment-form .comment-email-field {
  width: 250px;
  float: left;
}
.comment-form .comment-name-field input, .comment-form .comment-email-field input {
  background: none;
  border-bottom: 1px solid #cecece;
  width: 100% !important;
}
.comment-form .comment-name-field {
  margin-right: 20px;
}
.comment-form .submit-holder {
  padding-top: 20px;
}
.comment-form .form_field_with_errors .form_field_textfield {
  border-bottom: 1px solid #c70909;
  border-bottom: 1px solid rgba(199, 9, 9, 0.3);
  color: #c70909;
  color: rgba(199, 9, 9, 0.8);
}
.comment-form.form_with_errors .comment-form-focus-input {
  display: none;
}
.comment-form.form_with_errors .form_area {
  display: block;
}

.comment {
  padding-top: 20px;
  word-wrap: break-word;
}
.comment .comment-info {
  color: #848484;
  font-size: 14px;
}
.comment .comment-info .edy-site-btn-removecomment {
  vertical-align: -1px;
}

/* table */
.table-holder {
  overflow: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #848484;
  border-color: rgba(132, 132, 132, 0.9);
  padding: 10px;
}
table th {
  font-weight: bold;
}

/* mobile-menu */
.mobile-menu-toggler, #mobile-menu, .mobile-menu-toggler, #mobile-search {
  display: none;
}

/* footer */
.footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 280px;
  position: absolute;
  bottom: 0;
  right: 100%;
  font-size: 11px;
  line-height: 1.6;
}
.footer .footer-inner {
  padding: 20px 30px;
}
@media screen and (min-width: 1500px) {
  .footer {
    width: 25%;
  }
}

.voog-reference {
  display: none;
  padding-top: 10px;
}
.voog-reference a {
  color: #acacac;
}
.front-page .voog-reference {
  display: block;
}

/* other */
.edy-gallery-area, .edys-gallery-area {
  padding: 20px 0;
}

.edys-gallery-image {
  -webkit-border-radius: 96px;
  -moz-border-radius: 96px;
  border-radius: 96px;
}

.js-bgpicker-cover-image {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-image: url("../images/front.jpg?1");
}

.js-bgpicker-cover-color {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}

.rgba .js-bgpicker-cover-color {
  display: block;
}

.js-bgpicker-cover-settings {
  left: 0;
}

.untranslated {
  opacity: 0.5;
  filter: alpha(Opacity=50);
  zoom: 1;
}

/* search */
.search {
  padding-bottom: 20px;
  position: relative;
}
.search .search-box {
  background: #e5e5e5;
  position: relative;
  padding: 0 40px 0 10px;
  overflow: hidden;
}
.search .search-box.search-box-focus {
  background-color: #f9ec5a;
}
#mobile-search .search .search-box {
  padding-left: 20px;
  padding-right: 50px;
}
.search .search-input {
  outline: 0;
  padding: 5px 0;
  width: 100%;
  margin: 0;
  font: 18px/1.4 "Lato", "sans-serif";
  color: #222222;
  border: none;
  background: none;
}
.search .search-input::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}
.search .search-input:-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}
.search .search-input::-moz-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}
.search .search-input:-ms-input-placeholder {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}
#mobile-search .search .search-input {
  font-size: 16px;
  padding: 10px 0;
}
.search .search-close {
  height: 30px;
  width: 30px;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 0;
  background: url("../images/search-close.png") no-repeat center center;
}
.voog-search-visible .search .search-close {
  display: block;
}
.search:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(229, 229, 229, 0);
  border-right-color: #e5e5e5;
  border-width: 18px;
  display: none;
  right: -30px;
  top: -2px;
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .search:after {
    right: -20px;
  }
}
.voog-search-visible .search:after {
  display: block;
}
#mobile-search .search:after {
  display: none;
}
.search .search-submit {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
  border: none;
  background: url("../images/search.png") no-repeat center center;
  background-size: 16px 16px;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  cursor: pointer;
}
.svg .search .search-submit {
  background-image: url("../assets/search.svg");
}

/* search-container */
.voog-search-container {
  background: #e5e5e5;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  width: 0px;
  opacity: 0;
  display: block;
  margin-left: 280px;
  -webkit-transition: opacity 0.1s ease-in, width 0.3s ease-in;
  transition: opacity 0.1s ease-in, width 0.3s ease-in;
  /*display: block; width: $search-width;*/
}
@media screen and (min-width: 1500px) {
  .voog-search-container {
    margin-left: 20%;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .voog-search-container {
    margin-left: 200px;
    top: 90px;
  }
}
#mobile-search .voog-search-container {
  position: static;
  top: auto;
  width: 100%;
  margin-left: 0 !important;
}
.voog-mobile-search-visible #mobile-search .voog-search-container {
  display: block;
  z-index: 1000;
  opacity: 1;
}
.voog-search-visible .voog-search-container {
  display: block;
  z-index: 1000;
  width: 300px;
  opacity: 1;
  -webkit-box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.05) ;
  -moz-box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.05) ;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.05) ;
}

.voog-search-inner {
  width: 300px;
  height: 100%;
  overflow: auto;
}
#mobile-search .voog-search-inner {
  width: auto;
}

.voog-search-loader {
  display: block;
  height: 100%;
}
.svg .voog-search-loader {
  background: url("../assets/loader.svg") no-repeat center center;
}

.voog-search-results {
  display: none;
  padding: 20px 0;
}
#mobile-search .voog-search-results {
  padding: 10px 0;
}

.voog-search-noresults {
  height: 100%;
  height: 100%;
  width: 100%;
  display: none;
}
.voog-search-noresults div {
  display: table-cell;
  vertical-align: middle;
  color: #848484;
  text-align: center;
  padding: 40px;
}
.voog-search-noresults.voog-search-noresults-visible {
  display: table;
}

.voog-search-result {
  padding: 12px 18px;
  font-size: 14px;
  line-height: 1.5;
}
.voog-search-result .voog-search-result-title {
  font-size: 16px;
  margin: 0;
  padding: 0 0 12px;
}
.voog-search-result .voog-search-result-link {
  color: #222222;
}
.voog-search-result .voog-search-result-link:hover {
  color: #222222;
  color: rgba(34, 34, 34, 0.8);
}
.voog-search-result .voog-search-result-content {
  margin: 0;
  padding: 0;
}
.voog-search-result em {
  background: #f9ec5a;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .site-title br {
    display: none;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    min-width: 0;
  }

  .topbar {
    display: block;
  }
  .topbar .site-title {
    padding-left: 20px;
  }

  .main {
    padding-top: 90px;
    margin-left: 200px;
  }

  .sidebar {
    width: 200px;
  }
  .sidebar .sidebar-inner {
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sidebar .site-title {
    display: none;
  }

  .sub-menu a {
    white-space: normal;
  }

  .main-menu {
    padding-top: 20px;
  }

  .inner {
    width: auto;
  }

  .lang-menu {
    left: auto;
    right: 25px;
  }

  .lang-menu-popover {
    left: auto;
    right: -12px;
  }

  .footer {
    width: 200px;
  }
  .footer .footer-inner {
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  body, html {
    /*height: auto !important;*/
    font-size: 16px;
    line-height: 1.75;
  }

  body {
    min-width: 320px;
    background: white;
  }

  .wrap, .wrap-inner, .main {
    display: block !important;
    height: auto !important;
  }

  .front-page, .front-page .wrap, .front-page .main {
    height: 100% !important;
  }

  .search-form, body > .voog-search-container {
    display: none !important;
  }

  .sidebar {
    width: auto;
    max-width: none;
    padding: 0;
    word-wrap: break-word;
    display: block;
    min-height: 43px;
    float: none;
  }
  .sidebar .sidebar-inner {
    padding: 0 !important;
  }

  .lang-menu, .main-menu {
    display: none;
  }

  .main {
    width: auto;
    margin: 0;
  }

  .front-page .main-inner {
    min-height: 100%;
    color: white;
    font-size: 22px;
    line-height: 1.05;
  }

  .inner {
    width: auto;
  }

  .container {
    background: #e5e5e5;
  }
  .front-page .container {
    background: none;
  }

  .site-title {
    font-size: 18px;
    padding: 13px 50px 12px 20px;
  }
  .search-enabled .site-title {
    padding-right: 90px;
  }

  .content {
    padding: 0 20px 20px;
  }
  .front-page .content {
    padding: 40px 20px;
  }

  .sub-menu {
    min-height: 0;
    text-align: left;
    padding: 20px 20px 15px;
  }
  .sub-menu li {
    padding-left: 0;
    padding-right: 20px;
  }
  .sub-menu a {
    white-space: normal;
  }

  .js-bgpicker-cover-image, .js-bgpicker-cover-color {
    min-height: 0 !important;
  }

  .form_field_textfield, .form_field_textarea, .form_field_select, .form_field .jq-select {
    width: 100% !important;
  }

  .blog-list .post {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .post-header {
    padding: 0 20px;
  }

  .post-content {
    padding: 0 20px 30px;
  }

  .comments {
    padding: 0 20px 20px;
  }
  .comments h3 {
    padding-top: 30px;
  }
  .comments:before {
    width: 100%;
  }

  .comment-form .comment-name-field, .comment-form .comment-email-field {
    width: 100%;
    float: none;
  }
  .comment-form .comment-name-field {
    margin-right: 0px;
  }

  .footer {
    display: block;
    position: static;
    bottom: auto;
    left: auto;
    width: auto;
    background: white;
  }
  .footer .footer-inner {
    padding: 20px;
  }

  /* mobile-menu */
  .mobilemenu-open, .mobilesearch-open {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
  .mobilemenu-open .wrap, .mobilesearch-open .wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  .mobile-menu-toggler {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 43px;
    width: 43px;
    outline: 0;
  }
  .mobile-menu-toggler span, .mobile-menu-toggler span:before, .mobile-menu-toggler span:after {
    display: block;
    height: 3px;
    width: 20px;
    background: #222222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    content: "";
    position: absolute;
    left: 11px;
    top: 14px;
  }
  .mobile-menu-toggler span:before {
    top: 6px;
    left: 0;
  }
  .mobile-menu-toggler span:after {
    top: 12px;
    left: 0;
  }

  #mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    display: none;
    z-index: 1000;
    background-color: #2b2b2b;
    background-color: rgba(43, 43, 43, 0.9);
    -webkit-overflow-scrolling: touch;
  }
  .mobilemenu-open #mobile-menu {
    display: block;
  }
  #mobile-menu .mobile-menu-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 42px;
    outline: 0;
  }
  #mobile-menu .mobile-menu-close:before, #mobile-menu .mobile-menu-close:after {
    content: "";
    height: 3px;
    width: 20px;
    background: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 19px;
    left: 12px;
  }
  #mobile-menu .mobile-menu-close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #mobile-menu .mobile-menu-close:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #mobile-menu .language-menu-btn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 42px;
    width: 42px;
    outline: 0;
  }
  #mobile-menu .language-menu-btn span {
    position: absolute;
    top: 14px;
    left: 11px;
  }
  .language-menu-open #mobile-menu .language-menu-btn {
    display: none;
  }
  #mobile-menu .navigation-menu, #mobile-menu .language-menu {
    height: 100%;
    display: table;
    width: 100%;
  }
  #mobile-menu .navigation-menu ul, #mobile-menu .language-menu ul {
    text-align: center;
    list-style-type: none;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding: 50px 30px;
  }
  #mobile-menu .navigation-menu ul li, #mobile-menu .language-menu ul li {
    display: block;
    text-align: center;
    margin: 0;
    padding: 15px 0;
  }
  #mobile-menu .navigation-menu ul a, #mobile-menu .language-menu ul a {
    font-size: 24px;
    line-height: 1.05;
    color: white;
    color: rgba(255, 255, 255, 0.5);
  }
  #mobile-menu .navigation-menu ul a.active, #mobile-menu .language-menu ul a.active {
    color: white;
  }
  .language-menu-open #mobile-menu .navigation-menu {
    display: none;
  }
  #mobile-menu .language-menu {
    display: none;
  }
  .language-menu-open #mobile-menu .language-menu {
    display: table;
  }

  .mobile-search-toggler {
    display: block;
    position: absolute;
    top: 0;
    right: 43px;
    height: 43px;
    width: 33px;
    outline: 0;
    background: url("../images/search.png") no-repeat center center;
    background-size: 16px 16px;
  }
  .svg .mobile-search-toggler {
    background-image: url("../assets/search.svg");
  }
  .mobilesearch-open .mobile-search-toggler {
    background: none !important;
  }
  .mobilesearch-open .mobile-search-toggler:before, .mobilesearch-open .mobile-search-toggler:after {
    content: "";
    height: 3px;
    width: 20px;
    background: #222222;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: 20px;
    left: 7px;
  }
  .mobilesearch-open .mobile-search-toggler:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .mobilesearch-open .mobile-search-toggler:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #mobile-search {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    display: none;
    z-index: 1000;
    background: #e5e5e5;
    -webkit-overflow-scrolling: touch;
  }
  .mobilesearch-open #mobile-search {
    display: block;
  }

  #mobile-search-results {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
