$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$voog-blue: rgb(68, 61, 246);
$editor-grey: rgb(27, 33, 36);

$bg-color: #f6f6f6;
$bg-color: rgb(246,246,246);

$main-color: rgba($color-black, .87);
$second-color: $color-black;
$third-color: rgba($color-black, .36);

$link-color: #0066bb;

$error-color: #c70909;
$success-color: #409e13;
$disabled-color: #dadada;

// Sign out button
$color-common-gray: rgb(27,33,36);
$color-toolbar-bg: rgb(238,238,238);
$color-silver-2: rgb(196,196,196);


$font-size-xs: 10px;
$font-size: 18px;
$font-size-big: 20px;
$font-size-xl: 24px;
$font-size-small: 14px;

$h1-size: 30px;
$h2-size: 24px;
$h3-size: 18px;

$line-height-tiny: 18px;
$line-height-xs: 24px;
$line-height: 32px;

$line-height-headings: 1.1;

$font-primary: 'Lato', sans-serif;
$avenir: 'Avenir Next', 'AvenirX';

$site-width: 1024px;
$side-width: 200px;
$content-width: $site-width - $side-width;

$search-width: 300px;

// Media query breakpoints.
$break-large: 1500px;
$break-middle: 1024px;
$tablet: 768px;
$mobile: 640px;
$break-small: 600px;
$mobile-2: 420px;
$nano: 320px;

$fourth-color: $color-white;
$focus-color: #f9ec5a;

$color-science-blue: #06b;

// Variables for blog settings CSS
$zindex-settings-btn: 104;
$zindex-settings-popover: 56501;
$zindex-settings-editor: 57000;
$zindex-ca-interaction-button: 1;
$bold: 600;
$box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
